<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @semester.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @semester.semester %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
