<%- model_class = Message -%>

<% if !@ficha.messages.blank? %>

  <div id="fields">
    <% @ficha.messages.each do |msg| %>
      <% if msg.user == current_user %>
        <div class="speech-bubbleSent"><p class="msgSent"><b><%= msg.created_at.strftime("%d/%m/%Y")%><br> Você: </b><%= msg.message %></p> </div>

      <% elsif !msg.user.blank? %>
        <div class="speech-bubbleReceived"><p class="msgReceived"><b><%= msg.created_at.strftime("%d/%m/%Y")%><br> <%= msg.user.name %>: </b><%= msg.message %></p> </div>

      <% end %>
    <% end %>

  </div>

<% end %>

<%= form_for @message, url:  create_messages_path(@ficha.id), :method => new_message_path ,:remote => true, :html => { :class => "form-horizontal message" } do |f| %>

  <div class="form-group">
    <div class="col-md-12">
      <%= f.text_area :message, :class => 'form-control resize', :autocomplete => "off", :id => "message_field", :placeholder => 'Digite uma mensagem' %>
    </div>
  </div>

  <div class="form-group">
    <div class="">
      <%= f.submit "Enviar", :style => "float: right; margin-right: 15px",:class => 'btn btn-success' %>
    </div>
  </div>

<% end %>

<%- model_class = Ficha -%>
