<%- model_class = Message -%>

<% if !@ficha.messages.blank? %>

  <div id="fields">
    <% @ficha.messages.each do |msg| %>
      <% if msg.user == current_user %>
        <p style="color: blue;"> You:  <%= msg.message %> </p>
      <% elsif !msg.user.blank? %>
        <p style="color: green;"> <%= msg.user.name %> <%= msg.message %> </p>
      <% end %>
    <% end %>

  </div>

<% end %>

<%= form_for @message, url:  create_messages_path(@ficha.id), :method => new_message_path ,:remote => true, :html => { :class => "form-horizontal message" } do |f| %>

  <div class="form-group">
    <div class="col-lg-12">
      <%= f.text_area :message, :class => 'form-control resize', :autocomplete => "off", :id => "message_field" %>
    </div>
  </div>

  <div class="form-group">
    <div class="">
      <%= f.submit "Enviar", :style => "float: right; margin-right: 15px",:class => 'btn btn-success' %>
    </div>
  </div>

<% end %>

<%- model_class = Ficha -%>
