
<div class="page-header">
  <h1><%= t('users') %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t('name') %></th>
      <th>Email</th>
      <th><center><%=t('role') %></center></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><center><%= t(user.role) %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>
