<%= form_for @unite_matter, :html => { :class => "form-horizontal group"} do |f| %>
  <% if unite_matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unite_matter.errors.count, "erro(s)") %> ocorrido(s):</h2>

      <ul>
      <% unite_matter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default" style="margin-bottom:70px;">
    <header class="panel-heading header headerOutra">Detalhes

    </header>
    <br>

    <div class="field">
      <div class="form-group">
        <%= f.label :name, :class => 'control-label col-xs-2' %>
        <div class="col-xs-10">
          <%= f.text_field :name, :class => 'form-control unite-name' %>
        </div>
      </div>
    </div>

    <div class="field">
      <% if !@new %>

        <div id="add_matter_partial">
          <%= render "add_matter" %>
        </div>

        <div class="form-group" style="margin-left: 40px; margin-right: 40px">
          <div id= "unite_matters_partial" class="less">
            <%= render "matters"  %>
          </div>
        </div>

      <% end %>


      <script type="text/javascript">
        $(document).on('change','#unite_matter_matters', function() {
            var value = $('#unite_matter_matters').find(":selected").val();
            var link = $('#add_matter').attr('href');
            var times = link.length;
            var i = times;
            var old  = ""
            while (i >= 0) {
              if (link.charAt(i) != '/') {
                old = old + link.charAt(i);
              } else {
                break;
              }
              i--;
            }
            link = link.substring(0, (link.length-old.length))
            link = link + value;
            $('#add_matter').attr('href', link);
        });

      </script>

    <% if @edit %>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          unite_matters_path, :class => 'btn btn-default right' %>
          <%= f.submit "Atualizar", :class => 'btn btn-primary right' %>
        </div>
      </div>
    <% end %>
    <% if @new %>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          unite_matters_path, :class => 'btn btn-default right' %>
          <%= f.submit "Unir", :class => 'btn btn-primary right' %>
        </div>
      </div>
    <% end %>
    <% if @show %>
    <%= link_to 'Edit', edit_unite_matter_path(@unite_matter), :class => 'btn btn-default' %>
    <%= link_to 'Back', unite_matter_path, :class => 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
