
<% if !@unite_matter.matters.blank? %>
  <h3 style="text-align: center"><span class="<%=index_icon(matter_icon)%>"></span> <%=t('matters')%></h3>
  <table class="table table-striped">

    <thead>
      <tr>
            <th width="80%"><%= t('matters') %></th>
      </tr>

    </thead>

    <tbody>
      <% @unite_matter.matters.each do |matter| %>
        <tr>

          <td><%= matter.code_with_name %></td>

          <td class="center" id="actions">
            <% if !@show %>
            <%= link_to remove_button.html_safe,
                  remove_unite_matters_path(@unite_matter, matter),
                  :method => :delete,
                  :remote => true,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                  :class => 'btn btn-sm btn-danger disable',
                  title: 'Remover', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
