<%= form_for @unite_group, :html => { :class => "form-horizontal group"} do |f| %>

  <% if @unite_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unite_group.errors.count, "erro(s)") %> ocorrido(s):</h2>

      <ul>
      <% unite_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default" style="margin-bottom:70px;">
    <header class="panel-heading header headerOutra">Detalhes</header>
    <br>

    <div class="form-group">
      <%= f.label t("matter"), :class => 'control-label col-xs-2' %>
      <div class="col-xs-10">
        <%= f.collection_select(:matter_id, Matter.all, :id, :code_with_name,
            { prompt: "Selecione uma matéria" },
            { :class => ' form-control width-form-unite'} ) %>

        <%=f.error_span(:matter) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :semester, :class => 'control-label col-lg-2' %>
      <div class="col-xs-5">
        <%= f.collection_select(:semester_id, Semester.all, :id, :semester_with_year, {:prompt => "Selecione um semestre"} , { :class => ' form-control width-form-unite'}) %>
        <%=f.error_span(:semester) %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            unite_groups_path, :class => 'btn btn-default right' %>

        <%= f.submit "Criar", :class => 'btn btn-primary right' %>
      </div>
    </div>

  </div>
<% end %>
