<%= form_for @unite_group, :html => { :class => "form-horizontal group"} do |f| %>

  <% if @unite_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unite_group.errors.count, "erro(s)") %> ocorrido(s):</h2>

      <ul>
      <% unite_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default" style="margin-bottom:70px;">
    <header class="panel-heading header headerOutra">Detalhes

    </header>
    <br>

    <div class="form-group">
      <%= f.label :name, :class => 'control-label col-xs-2' %>
      <div class="col-xs-7">
        <%= f.text_field :name, :class => 'form-control txtName width2' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :unite_matter, :class => 'control-label col-xs-2' %>
      <div class="col-xs-10">
        <%= f.collection_select(:unite_matter, UniteMatter.all, :id, :name,
            { prompt: "Selecione uma união de matérias" },
            { :class => ' form-control width2'} ) %>

        <%=f.error_span(:unite_matter) %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            unite_groups_path, :class => 'btn btn-default right' %>

        <%= f.submit "Criar", :class => 'btn btn-primary right' %>
      </div>
    </div>

  </div>
<% end %>
