<%= form_for @unite_group, :html => { :class => "form-horizontal group"} do |f| %>
  <% if @unite_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unite_group.errors.count, "erro(s)") %> ocorrido(s):</h2>

      <ul>
      <% unite_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default" style="margin-bottom:70px;">
    <header class="panel-heading header headerOutra">Detalhes

    </header>
    <br>

    <div class="field">
      <div class="form-group">
        <%= f.label :name, :class => 'control-label col-xs-2' %>
        <div class="col-xs-2">
          <%= f.text_field :name, :class => 'form-control txtName' %>
        </div>
      </div>
    </div>

    <div class="field">
      <% if !@new %>

        <div id="add_group_partial">
          <%= render "add_group" %>
        </div>

        <div class="form-group" style="margin-left: 40px; margin-right: 40px">
          <div id= "unite_groups_partial" class="less">
            <%= render "groups"  %>
          </div>
        </div>

      <% end %>

    <% if @edit %>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          unite_groups_path, :class => 'btn btn-default right' %>
          <%= f.submit "Atualizar", :class => 'btn btn-primary right' %>
        </div>
      </div>
    <% end %>
    <% if @new %>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          unite_groups_path, :class => 'btn btn-default right' %>
          <%= f.submit "Unir", :class => 'btn btn-primary right' %>
        </div>
      </div>
    <% end %>
    <% if @show %>
    <%= link_to 'Edit', edit_unite_group_path(@unite_group), :class => 'btn btn-default' %>
    <%= link_to 'Back', unite_group_path, :class => 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
