
  <div id="select_group_partial">
    <%= render 'groups_selector' %>
  </div>


  <div class="form-group" style="margin-left: 40px; margin-right: 40px">
  <% if !@unite_group.groups.blank? %>
    <h3 style="text-align: center"><span class="<%=index_icon(group_icon)%>"></span> <%=t('groups')%></h3>

    <table class="table table-striped less">

      <thead>
        <tr>
          <th width="30%"><%= t('matter') %></th>
          <th width="70%"><%= t('group') %></th>
        </tr>

      </thead>

      <tbody>
        <% @unite_group.groups.each do |group| %>
          <tr>

            <td><%= group.matter.code_with_name %></td>
            <td><%= group.name %></td>

            <td class="center" id="actions">
              <% if !@show %>
              <%= link_to remove_button.html_safe,
                    remove_unite_groups_path(@unite_group, group),
                    :method => :delete,
                    :remote => true,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                    :class => 'btn btn-sm btn-danger disable',
                    title: 'Remover', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>
