<table class="table table-striped mb-15pc">
  <thead>
    <tr class="header">

      <th class="header-border-left"> <%= t('groups') %> </th>

      <th width="150px" class="center"> <%= t('semester') %> </th>

      <th class="header-border-right" width="15%">
        <center>
          <%=t '.actions', :default => t("helpers.actions") %>
          <div style="float:right; margin-right:3px; width:37px;">
            <%= link_to new_button.html_safe, new_unite_group_path, :class => 'btn-default btn-sm',
              title: 'Adicionar', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>
          <div>
        </center>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @unite_groups.each do |unite_group| %>
      <tr data-href="<%= unite_group_path(unite_group) %>">
        <div class="form_table">

          <td><%= unite_group.group_names.join(", ") %></td>
          <td class="center"><%= unite_group.semester.semester_with_year %></td>

          <td id="actions">
            <center>

              <%= link_to edit_button.html_safe,
                          edit_unite_group_path(unite_group), :class => 'btn btn-default btn-sm simple_button',
                          title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

                <%= link_to remove_button.html_safe, unite_group_path(unite_group), :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                            :class => 'btn btn-danger dropdown-toggle btn-sm disable',
                            title: 'Remover', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

            </center>
          </td>

        </div>
      </tr>
    <% end %>

  </tbody>
</table>
