<%= form_for @matter, :html => { :class => "form-horizontal matter" } do |f| %>

  <% if @matter.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= pluralize(@matter.errors.count, "error") %> prohibited this matter from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @matter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <!--Details -->

  <div class="panel panel-default">
    <header style="background-color: #222;color: white;"
            class="panel-heading"><%= t('details') %></header>
    <br>

    <div class="form-group">
      <%= f.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.text_field :name, :class => 'form-control', :autofocus => true %>
      </div>
      <%=f.error_span(:name) %>
    </div>

    <div class="form-group">
      <%= f.label :code, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.text_field :code, :class => 'form-control' %>
      </div>
      <%=f.error_span(:code) %>
    </div>

    <div class="form-group">
      <%= f.label :kind, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">

            <%= select("matter", "kind", %w(Semestral Anual Modular)) %>

      </div>
      <%=f.error_span(:kind) %>
    </div>

    <div class="form-group">
      <%= f.label :prerequisite , :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.text_field :prerequisite, :class => 'form-control' %>
      </div>
      <%=f.error_span(:prerequisite) %>
    </div>

    <div class="form-group">
      <%= f.label :corequisite, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.text_field :corequisite, :class => 'form-control' %>
      </div>
      <%=f.error_span(:corequisite) %>
    </div>

    <div class="form-group">
      <%= f.label :modality, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">

          <%= select("matter", "modality", %w(Presencial EaD 20%\ Ead)) %>

      </div>
      <%=f.error_span(:modality) %>
    </div>

    <div class="form-group">
      <%= f.label :nature, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">

          <%= select("matter", "nature", %w(Obrigatória Optativa)) %>

      </div>
      <%=f.error_span(:nature) %>
    </div>

    <div class="form-group">
      <%= f.label :menu, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">

        <%= f.text_area :menu, :class => 'form-control resize', :align => "justify", rows: count_lines(@matter.menu)%>
        <p align="justify" > <%= @matter.menu %> </p>

      </div>
      <%=f.error_span(:menu) %>
    </div>

  </div>

  <div class="panel panel-default" >

    <header style="background-color: #222;color: white;"
            class="panel-heading"><%= t('workload') %></header>
    <br>

    <div class="form-group">
      <%= f.label :total_annual_workload, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">

        <%= f.number_field :total_annual_workload, :class => 'form-control',  in: 0...200 %>

      </div>
      <%=f.error_span(:total_annual_workload) %>
    </div>

    <div class="form-group">
      <%= f.label :total_weekly_workload, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.number_field :total_weekly_workload, :class => 'form-control', in: 0...200 %>
      </div>
      <%=f.error_span(:total_weekly_workload) %>
    </div>

    <div class="form-group">
      <%= f.label :total_modular_workload, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.number_field :total_modular_workload, :class => 'form-control', in: 0...200 %>
      </div>
      <%=f.error_span(:total_modular_workload) %>
    </div>

    <div class="form-group">
      <%= f.label :weekly_workload, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.number_field :weekly_workload, :class => 'form-control', in: 0...21 %>
      </div>
      <%=f.error_span(:weekly_workload) %>
    </div>

  </div>

  <div class="panel panel-default" >

    <header style="background-color: #222;color: white;"
            class="panel-heading"><%= t('codes') %></header>
    <br>

    <div class="form-group">
      <%= f.label :pd, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.text_field :pd, :class => 'form-control' %>
      </div>
      <%=f.error_span(:pd) %>
    </div>

    <div class="form-group">
      <%= f.label :lc, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.text_field :lc, :class => 'form-control' %>
      </div>
      <%=f.error_span(:lc) %>
    </div>

    <div class="form-group">
      <%= f.label :cp, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.text_field :cp, :class => 'form-control' %>
      </div>
      <%=f.error_span(:cp) %>
    </div>

    <div class="form-group">
      <%= f.label :es, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.text_field :es, :class => 'form-control' %>
      </div>
      <%=f.error_span(:es) %>
    </div>

    <div class="form-group">
      <%= f.label :or, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.text_field :or, :class => 'form-control' %>
      </div>
      <%=f.error_span(:or) %>
    </div>

  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matters_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
