<%= form_for @matter, :html => { :class => "form-horizontal matter" } do |f| %>

  <% if @matter.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= pluralize(@matter.errors.count, "erro(s)") %> ocorrido(s):</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @matter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <!--Details -->
  <div class="panel panel-default">
    <header class="panel-heading header"><%= t('details') %>
      <% if (@show) %>
        <% if user_secretary? or user_admin? %>
        <div class="addAnotherFicha">
          <%= link_to new_button.html_safe, new_matter_path, :class => 'btn btn-default btn-sm',
          title: 'Criar outra disciplina', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
        </div>
        <% end %>
      <% end %>
    </header>
    <br>


    <div class="form-group">
      <%= f.label :name, :class => 'control-label col-xs-2' %>
      <div class="col-xs-9" id="div_name">
        <%= f.text_field :name, :class => 'form-control', :autofocus => !@show, :autocomplete => "off", :readonly => @show %>
        <span id="name_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:name) %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :code, :class => 'control-label col-xs-2' %>
      <div class="col-xs-9" id="div_code">
        <%= f.text_field :code, :class => 'form-control', :autocomplete => "off", :readonly => @show %>
        <span id="code_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:code) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :kind, :class => 'control-label col-xs-2' %>
      <div class="col-xs-3">

          <% if !@show %>
            <%= f.select :kind, (%w(Semestral Anual Modular)), {}, { :class => 'form-control', :style => 'width:120px;float:left;margin-right:5px;'} %>

          <% else %>
            <%= f.text_field_tag 'matter_kind', @matter.kind, :readonly => @show, :class => 'form-control' %>
          <% end %>

          <%=f.error_span(:kind) %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :prerequisite , :class => 'control-label col-xs-2' %>
      <div class="col-xs-9">
        <%= f.text_field :prerequisite, :class => 'form-control', :autocomplete => "off", :readonly => @show %>
        <%=f.error_span(:prerequisite) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :corequisite, :class => 'control-label col-xs-2' %>
      <div class="col-xs-9">
        <%= f.text_field :corequisite, :class => 'form-control', :autocomplete => "off", :readonly => @show %>
        <%=f.error_span(:corequisite) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :modality, :class => 'control-label col-xs-2' %>
      <div class="col-xs-3">
        <% if !@show %>
          <%= f.select :modality, (%w(Presencial EaD 20%\ Ead)), {}, { :class => 'form-control', :style => 'width:120px;float:left;margin-right:5px;'} %>
        <% else %>
          <%= f.text_field_tag 'matter_modality', @matter.modality, :readonly => @show, :class => 'form-control' %>
        <% end %>

        <%=f.error_span(:modality) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :nature, :class => 'control-label col-xs-2' %>
      <div class="col-xs-3">

        <% if !@show %>
          <%= f.select :nature, (%w(Obrigatória Optativa)), {}, { :class => 'form-control', :style => 'width:120px;float:left;margin-right:5px;'} %>
        <% else %>
          <%= f.text_field_tag 'matter_nature', @matter.nature, :readonly => @show, :class => 'form-control' %>
        <% end %>

        <%=f.error_span(:nature) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :menu, :class => 'control-label col-xs-2' %>
      <div class="col-xs-9" id="div_menu">
        <%= f.text_area :menu, :class => 'form-control resize', :align => "justify", rows: count_lines(@matter.menu), :readonly => @show%>
        <span id="menu_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:menu) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :basic_bibliography, :class => 'control-label col-xs-2' %>
      <div class="col-xs-9" id="div_basic_bibliography">
        <%= f.text_area :basic_bibliography, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@matter.basic_bibliography), :readonly => @show %>
        <span id="basic_bibliography_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:basic_bibliography) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :bibliography, :class => 'control-label col-xs-2' %>
      <div class="col-xs-9" id="div_bibliography">
        <%= f.text_area :bibliography, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@matter.bibliography), :readonly => @show %>
        <span id="bibliography_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:bibliography) %>
      </div>
    </div>

  </div>

  <div class="panel panel-default" >

    <header class="panel-heading header"><%= t('workload') %></header>
    <br>

    <div class="form-group">
      <%= f.label :total_annual_workload, :class => 'control-label col-xs-2' %>
      <div class="col-xs-2">

        <% if @show %>
          <%= f.text_field :total_annual_workload, :class => 'form-control',  in: 0...201, :readonly => @show %>
        <% else %>
          <%= f.number_field :total_annual_workload, :class => 'form-control',  in: 0...201, :readonly => @show %>
        <% end %>
        <%=f.error_span(:total_annual_workload) %>
      </div>

    </div>

    <div class="form-group">
      <%= f.label :total_weekly_workload, :class => 'control-label col-xs-2' %>
      <div class="col-xs-2">
        <% if @show %>
          <%= f.text_field :total_weekly_workload, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% else %>
          <%= f.number_field :total_weekly_workload, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% end %>
        <%=f.error_span(:total_weekly_workload) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :total_modular_workload, :class => 'control-label col-xs-2' %>
      <div class="col-xs-2">
        <% if @show %>
          <%= f.text_field :total_modular_workload, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% else %>
          <%= f.number_field :total_modular_workload, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% end %>
        <%=f.error_span(:total_modular_workload) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :weekly_workload, :class => 'control-label col-xs-2' %>
      <div class="col-xs-2">
        <% if @show %>
          <%= f.text_field :weekly_workload, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% else %>
          <%= f.number_field :weekly_workload, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% end %>
        <%=f.error_span(:weekly_workload) %>
      </div>
    </div>

  </div>

  <div class="panel panel-default" style="margin-bottom:40px;">

    <header class="panel-heading header"><%= t('codes') %></header>
    <br>

    <div class="form-group">
      <%= f.label :pd, :class => 'control-label col-xs-2' %>
      <div class="col-xs-2">
        <% if @show %>
          <%= f.text_field :pd, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% else %>
          <%= f.number_field :pd, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% end %>
        <%=f.error_span(:pd) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :lc, :class => 'control-label col-xs-2' %>
      <div class="col-xs-2">
        <% if @show %>
          <%= f.text_field :lc, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% else %>
          <%= f.number_field :lc, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% end %>
        <%=f.error_span(:lc) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cp, :class => 'control-label col-xs-2' %>
      <div class="col-xs-2">
        <% if @show %>
          <%= f.text_field :cp, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% else %>
          <%= f.number_field :cp, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% end %>
        <%=f.error_span(:cp) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :es, :class => 'control-label col-xs-2' %>
      <div class="col-xs-2">
        <% if @show %>
          <%= f.text_field :es, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% else %>
          <%= f.number_field :es, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% end %>
        <%=f.error_span(:es) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :or, :class => 'control-label col-xs-2' %>
      <div class="col-xs-2">
        <% if @show %>
          <%= f.text_field :or, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% else %>
          <%= f.number_field :or, :class => 'form-control', in: 0...101, :readonly => @show %>
        <% end %>
        <%=f.error_span(:or) %>
      </div>
    </div>

    <% if !@show %>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        matters_path, :class => 'btn btn-default right' %>
        <%= f.submit nil, :class => 'btn btn-primary right' %>
      </div>
    </div>
    <% end %>
  </div>


<% end %>
