<table class="table table-striped">
  <thead>
    <tr class="header">
      <th width="80px"><%= t('code') %></th>
      <th class="form_table"><%= t('name') %></th>

      <% if user_admin_or_secretary? %>
        <th class=" center w-135">

          <div class=" col-md-8">
            <%= t('actions') %>
          </div>

          <% if user_not_teacher? %>
            <%= link_to new_button.html_safe, new_matter_path,
                button_configs(:new, "btn-default") %>
          <% end %>

        </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @matters.each do |matter| %>
      <tr data-href="<%= matter_path(matter) %>">
        <div class="form_table">
          <td><%= matter.code %></td>

          <td><%= matter.name %></td>

          <% if user_admin_or_secretary? %>

            <td id="actions" class="center">

              <%= link_to edit_button.html_safe, edit_matter_path(matter),
                  button_configs(:edit, "btn btn-default simple_button") %>

              <% if matter.actived? %>
                <%= link_to disable_button.html_safe, matter_path(matter),
                    button_configs(:desable, "btn btn-danger disable", remove_configs_default) %>
              <% else %>

                <%= link_to enable_button.html_safe, matter_path(matter),
                    button_configs(:enable, "btn btn-success disable", remove_configs_default) %>
              <% end %>

            </td>

          <% end %>

        </div>
      </tr>
    <% end %>

  </tbody>
</table>

<center>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm no-mt-mb" id ="matter_pages">
      <%= render_pages(@elements, @page, "/matters", matter_page_length).html_safe %>
    </ul>
  </nav>
</center>
