<table class="table table-striped">
  <thead>
    <tr class="header">
      <th class="form_table"><%= t('name') %></th>
      <th width="25%"><%= t('code') %></th>

      <% if user_signed_in? && (current_user.admin? or current_user.secretary?) %>
        <th  width="20%">
          <center>
            <%=t '.actions', :default => t("helpers.actions") %>

            <div style=float:right;>
              <%= link_to new_button.html_safe, new_matter_path, :class => 'btn btn-primary btn-xs',
                title: 'Adicionar', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>
            <div>
          </center>
        </th>
      <% else %>
        <th  width="8%">
          <center>
          <%=t '.actions', :default => t("helpers.actions") %>
          </center>
        </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @matters.each do |matter| %>
      <tr data-href="<%= matter_path(matter) %>">
        <div class="form_table">
          <td><%= matter.name %></td>

          <td><%= matter.code %></td>

          <% if user_signed_in? && (current_user.admin? or current_user.secretary?) %>
            <td id="actions">
              <center>

              <%= link_to show_button.html_safe, matter, :class => 'btn btn-default btn-sm',
                    title: 'Visualizar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

              <%= link_to edit_button.html_safe,
                          edit_matter_path(matter), :class => 'btn btn-default btn-sm',
                          title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

              <% if matter.actived? %>
                <%= link_to desable_button.html_safe, matter_path(matter), :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-sm btn-danger disable',
                          title: 'Desabilitar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
              <% else %>
                <%= link_to enable_button.html_safe, matter_path(matter), :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-success dropdown-toggle btn-sm disable',
                            title: 'Habilitar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
              <% end %>

            </center>
           </td id="actions">
          <% else %>
            <td>
              <center>
              <%= link_to show_button.html_safe, matter, :class => 'btn btn-default btn-sm',
                    title: 'Visualizar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
            </center>
            </td>
            <% end %>

        </div>
      </tr>
    <% end %>

  </tbody>
</table>

<center>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm" id ="matter_pages">
      <%= render_pages(@elements, @page, "/matters", @length).html_safe %>
    </ul>
  </nav>
</center>
