<%- model_class = Matter -%>

<div class="page-header no-mt-mb">

  <center><h1><span class="<%=index_icon(matter_icon)%>"></span> <%=t('matters')%></h1></center>

</div>
  <div class="mb-20 search-box">
    <%= search_form_for @q, url: search_matters_path, html: { method: :post } do |f| %>
    <%= f.text_field :name_or_code_cont, :autofocus => true, placeholder: "Procurar", :autocomplete => "off", :class => 'form-control searcher'%>
    <% end %>
  </div>


<div id="matters_partial" class="mb-15pc">
  <%= render 'matters' %>
</div>
