<%- model_class = Matter -%>
<div class="page-header">
  <h1><%=t('matters') %></h1>
</div>

<div style="color: black; float: right;">
  <%= search_form_for @q do |f| %>

  <form class="matter_search" id="matter_search" action="/matters"
    accept-charset="UTF-8" method="get">

    <div class="input-group">

      <input name="q[name_cont]" id="q_name_cont" type="search"
             class="form-control" placeholder="Pesquisar" aria-describedby="basic-addon1">
      <span class="input-group-addon" id="basic-addon1">Nome</span>

    </div>

  </form>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @matters.each do |matter| %>
      <tr>
        <td><%= link_to matter.name, matter_path(matter) %></td>
        <td><%= matter.code %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_matter_path(matter), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      matter_path(matter),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_matter_path,
            :class => 'btn btn-primary' %>
