<%- model_class = Matter -%>
<div class="page-header">
  <h1><%= t('matter')%>: <%= @matter.name %></h1>
</div>

<dl class="dl-horizontal">

  <div class="panel panel-default">
    <header class="panel-heading header"><%= t('details') %></header>
    <br>
    <div class="details show">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @matter.name %></dd>

      <dt><strong><%= model_class.human_attribute_name(:code) %>:</strong></dt>
      <dd><%= @matter.code %></dd>

      <dt><strong><%= model_class.human_attribute_name(:kind) %>:</strong></dt>
      <dd><%= @matter.kind %></dd>

      <dt><strong><%= model_class.human_attribute_name(:prerequisite) %>:</strong></dt>
      <dd><%= @matter.prerequisite %></dd>

      <dt><strong><%= model_class.human_attribute_name(:corequisite) %>:</strong></dt>
      <dd><%= @matter.corequisite %></dd>

      <dt><strong><%= model_class.human_attribute_name(:modality) %>:</strong></dt>
      <dd><%= @matter.modality %></dd>

      <dt><strong><%= model_class.human_attribute_name(:nature) %>:</strong></dt>
      <dd><%= @matter.nature %></dd>

      <dt><strong><%= model_class.human_attribute_name(:menu) %>:</strong></dt>
      <dd><%= @matter.menu %></dd>
    </div>
    <br>
  </div>

  <div class="panel panel-default">
    <header class="panel-heading header"><%= t('workload') %></header>
    <br>

      <dt><strong><%= model_class.human_attribute_name(:total_annual_workload) %>:</strong></dt>
      <dd><%= @matter.total_annual_workload %></dd>

      <dt><strong><%= model_class.human_attribute_name(:total_modular_workload) %>:</strong></dt>
      <dd><%= @matter.total_modular_workload %></dd>

      <dt><strong><%= model_class.human_attribute_name(:total_weekly_workload) %>:</strong></dt>
      <dd><%= @matter.total_weekly_workload %></dd>

      <dt><strong><%= model_class.human_attribute_name(:weekly_workload) %>:</strong></dt>
      <dd><%= @matter.weekly_workload %></dd>

      <br>

  </div>

  <div class="panel panel-default">
    <header class="panel-heading header"><%= t('codes') %></header>
    <br>

      <dt><strong><%= model_class.human_attribute_name(:pd) %>:</strong></dt>
      <dd><%= @matter.pd %></dd>

      <dt><strong><%= model_class.human_attribute_name(:lc) %>:</strong></dt>
      <dd><%= @matter.lc %></dd>

      <dt><strong><%= model_class.human_attribute_name(:cp) %>:</strong></dt>
      <dd><%= @matter.cp %></dd>

      <dt><strong><%= model_class.human_attribute_name(:or) %>:</strong></dt>
      <dd><%= @matter.or %></dd>

      <br>

  </div>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              matters_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_matter_path(@matter), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              matter_path(@matter),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
