<table class="table table-striped">

  <thead>
    <tr class="header">
      <th class="header-border-left center" width="20px"><%= t('code') %></th>
      <th class="center" width="5%"><%= t('class') %></th>
      <th ><%= t('matter') %></th>
      <th class="center w-110"><%= t('semester') %></th>

      <% if user_admin_or_secretary? %>

        <th class="center w-135">
          <div class=" col-md-8">
            <%= t('actions') %>
          </div>

          <% if user_not_teacher? %>
            <%= link_to new_button.html_safe, new_group_path,
                button_configs(:new, "btn-default") %>
          <% end %>

        </th>

      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr data-href="<%= group_path(group) %>">
        <td class="center"><%= group.matter.code %></td>
        <td class="center"><%= group.name %></td>
        <td><%= group.matter.name %></td>
        <td class="center" ><%= group.semester.semester_with_year %></td>
        <% if user_admin_or_secretary? %>
          <td id="actions" class="center">

            <%= link_to edit_button.html_safe, edit_group_path(group),
                button_configs(:edit, "btn btn-default simple_button") %>

            <%= link_to remove_button.html_safe, group_path(group),
                button_configs(:remove, "btn btn-danger disable", remove_configs_default) %>

          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center">

  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm no-mt-mb" id ="group_pages">
      <%= render_pages(@elements, @page, "/groups", group_page_length).html_safe %>
    </ul>
  </nav>

</div>
