<%- model_class = Group -%>

<div class="page-header no-mt-mb">
  <center><h1><span class="glyphicon glyphicon-th blue"></span> <%=t('groups')%></h1></center>
</div>

<%= form_for @group, :html => { :class => "form-horizontal group" } do |f| %>
  <div class="panel panel-default">
    <header class="panel-heading header headerOutra"><%= t('details') %>
        <% if user_secretary? or user_admin? %>
        <div class="add-anotherFicha">
          <%= link_to new_button.html_safe, new_group_path, :class => 'btn btn-default btn-sm',
          title: 'Criar outra turma', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
        </div>
        <% end %>
    </header>
    <br>

    <div class="form-group">
      <%= f.label :matter, :class => 'control-label col-xs-2' %>
      <div class="col-xs-7">
        <%= f.text_field 'matter_name', :value => @group.matter.code_with_name, :class => 'form-control', :readonly => true %>
      </div>

      <div class="col-xs-2">
        <%= f.text_field 'team', :value => @group.name, :class => 'form-control', :readonly => true %>
      </div>

    </div>

    <div class="form-group">
      <%= f.label :course, :class => 'control-label col-xs-2' %>
      <div class="col-xs-9">
        <%= f.text_field 'course', :value => @group.course.name, :class => 'form-control', :readonly => true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :semester, :class => 'control-label col-xs-2' %>
      <div class="col-xs-9">
        <%= f.text_field 'semester', :value => @group.semester.semester_with_year, :class => 'form-control', :readonly => true %>
      </div>
    </div>

    <div class="form-group">
      <% if @group.has_unite? %>
        <%= label "unite", "Turmas unidas", :class => 'control-label col-xs-2' %>
        <div class="col-xs-9">
          <%= f.text_field 'unite_groups', :value => @group.unite_group.group_names.join(", "), :class => 'form-control', :readonly => true %>
        </div>
      <% end %>
    </div>

    <div class="form-group ml-mr-40">
      <div id= "schedules_partial" class="less">
        <%= render "/schedules/schedules"  %>
      </div>
    </div>

  </div>

<% end %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              groups_path, :class => 'btn btn-default mb-70'  %>
