<%= form_for(user) do |f| %>
<div class="login-page ">
  <center>
  <% if user.errors.any? %>
    <div id="error_expl" class="panel panel-danger width">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= pluralize(user.errors.count, "erro(s)") %> ocorrido(s):</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</center>

  <div class="form-login" class="loginPageNew">

    <%= f.text_field :name, placeholder: "Nome", autofocus: true, :autocomplete => "off"  %>

    <%= f.email_field :email , placeholder: "Email", :autocomplete => "off"  %>

    <%= f.password_field :password, autocomplete: "off", placeholder: "Senha" %>

    <br/>
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirme a senha" %>

    <% if(current_user.admin?) %>
      <div>
        <%= f.collection_check_boxes(:role_ids, Role.all, :id, :name, checked: @user.checked_roles) do |b| %>
          <div class="form-control m-3-inline-block col-md-6" >
            <%= t(b.text) %>
            <%= b.check_box(:class => "role-checkbox") %>
          </div>
        <% end %>
      </div>
    <% end %>

    <button name="commit" data-disable-with="Enviando" type="submit" class="mt-10">Enviar</button>

    <%= link_to back_button.html_safe + " Voltar", :back, :class => 'btn btn-default btn-sm back-button' %>

  </div>
</div>

<% end %>
