<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <center><div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "erro(s)") %> ocorrido(s):</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div></center>
  <% end %>


<div class="login-page">
  <div class="form-login" style="height:445px;">

    <% if(current_user.admin?) %>
    <%= f.select(:role, [['Professor', :teacher], ['Avaliador', :appraiser], ['Administrador', :admin], ['Secretário', :secretary]],{}, {class: "form form-group form-control selectpicker" }) %>
    <% end %>

    <%= f.text_field :name, placeholder: "Nome", autofocus: true, :autocomplete => "off"  %>

    <%= f.email_field :email , placeholder: "Email", :autocomplete => "off"  %>


    <%= f.password_field :password, autocomplete: "off", placeholder: "Senha" %>

    <br/>
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirme a senha" %>

    <button name="commit" data-disable-with="Signup" type="submit ">Enviar</button>

    <%= link_to back_button.html_safe + " Voltar", :back, :style => "float: left; margin-top: 10px; margin-bottom: 20px;", :class => 'btn btn-default btn-sm' %>

  </div>
</div>

<% end %>
