<%= form_for(user) do |f| %>
<div class="login-page">
  <% if user.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"> <%= pluralize(user.errors.count, "erro(s)") %> ocorrido(s):</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="form-login" class="loginPageNew">

    <% if(current_user.admin?) %>
    <%= f.select(:role, [['Professor', :teacher], ['Avaliador', :appraiser], ['Administrador', :admin], ['Secretário', :secretary]],{}, {class: "form form-group form-control selectpicker" }) %>
    <% end %>

    <%= f.text_field :name, placeholder: "Nome", autofocus: true, :autocomplete => "off"  %>

    <%= f.email_field :email , placeholder: "Email", :autocomplete => "off"  %>


    <%= f.password_field :password, autocomplete: "off", placeholder: "Senha" %>

    <br/>
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirme a senha" %>

    <button name="commit" data-disable-with="Signup" type="submit ">Enviar</button>

    <%= link_to back_button.html_safe + " Voltar", :back, :style => "float: left; margin-top: 10px; margin-bottom: 20px;", :class => 'btn btn-default btn-sm' %>

  </div>
</div>

<% end %>
