<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="login-page">
  <div class="form-login">

    <%= f.text_field :name, placeholder: "name", autofocus: true %>

    <%= f.email_field :email , placeholder: "email address" %>

    <%= f.text_field :role, placeholder: "role" %>

    <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>

    <br/>
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "confirm password" %>

    <button name="commit" data-disable-with="Signup" type="submit ">Update</button>

    <%= link_to "Back", :back %>

  </div>
</div>

<% end %>
