<table remote: true, class="table table-striped">
  <thead>
    <tr class="header">
      <th><center><%= t('name') %></center></th>
      <th><center><%= t('email') %></center></th>

      <% if @kind == "role != 0" %>
        <th><center><%=t('role') %></center></th>
      <% end %>

      <% if user_signed_in? && current_user.admin? %>

        <th  width="130px"><center>

          <%=t '.actions', :default => t("helpers.actions") %>

          <div style="float:right;margin-right:4px;">
            <%= link_to new_button.html_safe,  new_user_path, :class => 'btn-default btn-sm',
            title: 'Adicionar', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>
          <div>

        </center></th>

       <% end %>

    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>

        <td><%= user.email %></td>

        <% if @kind == "role != 0" %>
          <td><center><%= t(user.role) %></center></td>
        <% end %>

        <% if user_signed_in? && current_user.admin? %>
          <td> <center>
            <!-- <%= link_to show_button.html_safe, user, :class => 'btn btn-default btn-sm',
            title: 'Visualizar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %> -->

            <%= link_to edit_button.html_safe,
                        edit_user_path(user), :class => 'btn btn-default btn-sm',
                        title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

            <% if user.actived? %>

              <%= link_to desable_button.html_safe, user_path(user), :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Desativar usuário?')) },
                          :class => 'btn btn-sm btn-danger disable',
                          title: 'Desabilitar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
            <% else %>

              <%= link_to enable_button.html_safe, user_path(user), :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Ativar usuário?')) },
                          :class => 'btn btn-success dropdown-toggle btn-sm disable',
                          title: 'Habilitar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

            <% end %>

          </center></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
