<table class="table table-striped">
  <thead>
    <tr class="header">
      <th><%= t('name') %></th>
      <th><%= t('email') %></th>

      <% if role_selected? %>
        <th class="center"><%=t('role')%></th>
      <% end %>

      <% if user_admin_or_secretary? %>
        <th class="center w-135">

          <div class="col-md-8 off-xs">
            <%= t('actions') %>
          </div>

          <%= link_to new_button.html_safe, new_user_path,
              button_configs(:new, "btn-default") %>
        </th>
     <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>

        <td><%= user.email %></td>

        <% if role_selected? %>
          <td class="center"><%= user.roles_names.join(', ') %></td>
        <% end %>

        <% if user_admin_or_secretary? %>
          <td id="actions" class="center">

            <%= link_to edit_button.html_safe, edit_user_path(user),
                button_configs(:edit, "btn btn-default simple_button") %>

            <% if user.actived? %>
              <%= link_to disable_button.html_safe, user_path(user),
                  button_configs(:desable, "btn btn-danger disable", remove_configs_default) %>
            <% else %>
              <%= link_to enable_button.html_safe, user_path(user),
                  button_configs(:enable, "btn btn-success disable", remove_configs_default) %>
            <% end %>

          </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<center>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm no-mt-mb">
      <%= render_pages(@elements, @page, "/users", user_page_length).html_safe %>
    </ul>
  </nav>
</center>
