<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('email') %></th>
      <th><center><%=t('role') %></center></th>

      <% if user_signed_in? && current_user.admin? %>
        <th  width="15%">
          <center>
          <%=t '.actions', :default => t("helpers.actions") %>

          <div style=float:right;>
            <%= link_to new_button.html_safe,  new_user_path, :class => 'btn btn-primary btn-xs' %>
          <div>

          </center>
         </th>

       <% end %>

    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>

        <td><%= user.email %></td>

        <td><center><%= t(user.role) %></center></td>

        <% if user_signed_in? && current_user.admin? %>
          <td>
            <!-- <%= link_to show_button.html_safe, user, :class => 'btn btn-default btn-sm' %> -->

            <%= link_to edit_button.html_safe,
                        edit_user_path(user), :class => 'btn btn-default btn-sm' %>

            <% if user.actived? %>

              <%= link_to desable_button.html_safe, user_path(user), :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-sm btn-danger disable' %>
            <% else %>

              <%= link_to enable_button.html_safe, user_path(user), :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-success dropdown-toggle btn-sm disable' %>

            <% end %>

          </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
