<%- model_class = User -%>

<div class="page-header">

  <div style="color: black; float: right;">
    <%= search_form_for @q, url: search_users_path,html: { method: :post } do |f| %>
        <%= f.text_field :name_cont, :autofocus => true, placeholder: "procurar nome" %>
        <%= search_button.html_safe %>
    <% end %>
  </div>

  <h1><%=t('users') %></h1>
</div>

<div id="users_partial">
  <%= render 'users' %>
</div>
