<%- model_class = User -%>

<div class="page-header noMarginTop">

  <center><h1><span class="<%=index_icon(user_icon)%>"></span> Usuários </h1>

  <div class="searchBox">

    <%= search_form_for @q, url: search_users_path,html: { method: :post } do |f| %>

      <% if user_signed_in? %>
        <%= f.select(:roles_id_eq, options_for_roles, {},
        {:class => 'form form-group form-control',
          :style => 'display: inline-block; width: 150px;'}) %>
      <% end %>

      <%= f.text_field :name_or_email_cont, :autofocus => true, placeholder: "Procurar",
                       :autocomplete => "off", :class => 'form-control', :style => 'display: inline-block; width: 150px;' %>

    <% end %>
  </div>

</div>

<div id="users_partial" class="marginBottom">
  <%= render 'users' %>
</div>
