<%- model_class = User -%>

<div class="page-header">

  <div style="color: black; float: right;">
    <%= search_form_for @q, url: teacher_search_users_path,html: { method: :post } do |f| %>
        <%= f.text_field :name_or_email_cont, :autofocus => true, placeholder: "procurar", :autocomplete => "off" %>
        <%= search_button.html_safe %>
    <% end %>
  </div>

  <h1><%=t('teachers') %></h1>
</div>

<div id="teachers_partial">
  <%= render 'teachers' %>
</div>
