<div class="page-header">
  <h1>Mude sua senha</h1>
</div>


<center>
  <%= devise_error_messages! %>
<div class="login-page">
  <div class="form-login">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "login-form") do |f| %>

    <%= f.hidden_field :reset_password_token %><br />

    <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => 'form-control', :style => 'width:270px;height:50px;', :placeholder => "Nova senha" %><br />

    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :style => 'width:270px;height:50px;', :placeholder => "Confirme a nova senha" %><br />

      
    <button name="commit" data-disable-with="Mudar minha senha" type="submit ">Mudar minha senha</button>
  </div>
</div>
</center>
<% end %>
