<%- model_class = Schedule -%>
<%= form_for @schedule, :url => create_schedules_path(@group), :method => new_schedule_path, :html => { :class => "form-horizontal schedule" }, :remote => true do |f| %>

  <% if @schedule.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= pluralize(@schedule.errors.count, "erro(s)") %> ocorrido(s):</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :day, :class => 'control-label col-md-4' %>
    <div class="col-md-8" id="div_name">
      <%= f.select :day, options_for_select(day_options, "monday"), {}, {:class => "form-control", :style => "width: 211px"}  %>
      <%=f.error_span(:day) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :begin, :class => 'control-label col-md-4' %>
    <div class="col-md-8" id="div_name">
      <%= f.time_select :begin, { minute_step: 5, :start_hour => 5}, { class: 'form-control', style: "width: 100px; display: inline-block;" } %>
      <%=f.error_span(:begin) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :duration, :class => 'control-label col-md-4' %>
    <div class="col-md-8" id="div_name">
      <%= f.time_select :duration, { minute_step: 5, :start_hour => 1, :end_hour => 10  }, { class: 'form-control', style: "width: 100px; display: inline-block;"} %>
      <%=f.error_span(:duration) %>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit "Adicionar Horário", :class => 'btn btn-primary' %>
    <a href="" class="btn btn-default" data-dismiss="modal">Close</a>
  </div>

<% end %>

<%- model_class = Group -%>
