<h3 style="text-align: center"><span class="<%=index_icon(schedule_icon)%>"></span> <%=t('schedules')%></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="center" width="110px"><%= t('day') %></th>
      <th class="center" width="80px"><%= t('begin') %></th>
      <th class="center" width="80px"><%= t('end') %></th>
      <th class="center" width="80px"><%= t('duration') %></th>

      <% if !@show %>

        <th class="center" width="80px">

            <div class="add-another">
                <button href='/groups/schedule' type="button" class="btn btn-default btn-sm"
                data-toggle="modal" data-target="#modal" title='Adicionar' data-placement:='right'>
                <%= new_button.html_safe %></button>
            </div>

        </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @group.schedules.each do |schedule| %>
      <tr class="center">
        <div class="form_table">
          <td ><%= t(schedule.day) %></td>
          <td ><%= schedule.begin.strftime("%H:%M") %></td>
          <td ><%= end_generate(schedule) %></td>
          <td ><%= schedule.duration.strftime("%H:%M")%></td>
          <% if !@show %>
            <td >
              <%= link_to remove_button.html_safe,
                          remove_schedules_path(@group, schedule),
                          :method => :delete,
                          :remote => true,
                          :class => 'btn btn-sm btn-danger disable',
                          title: 'Remover', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>

            </td>
          <% end %>
        </div>
      </tr>
    <% end %>

  </tbody>
</table>
