<p id="notice"><%= notice %></p>

<p>
  <strong>Begin:</strong>
  <%= @schedule.begin %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @schedule.duration %>
</p>

<p>
  <strong>Group:</strong>
  <%= @schedule.group %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
