<h3 style="text-align: center"><span class="<%=index_icon(group_icon)%>"></span> <%=t('groups')%></h3>

<table class="table table-striped">
  <thead>
    <tr class="header">
      <th class="center" width="135px"><%= t('matter') %></th>
      <th class="center" width="80px"><%= t('name') %></th>
      <th class="center" ><%= t('semester') %></th>
    </tr>
  </thead>
  <tbody>
    <% @option.groups.each do |group| %>
      <tr class="center">
        <div class="form_table">
          <td ><%= group.matter.code %></td>
          <td ><%= group.name %></td>
          <td ><%= group.semester.semester_with_year %></td>
        </div>
      </tr>
    <% end %>

  </tbody>
</table>
