<div class="container">
	<div class="modal fade" id="wish_modal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="center"><span class="<%=index_icon(option_icon)%>"></span> Escolha</h2>
				</div>
				<% @wish = Wish.new %>
				<%= form_for @wish, :url => create_wishes_path(@option), :method => new_wish_path, :html => { :class => "form-horizontal wish" } do |f| %>

				<div class="modal-body mb-30">
					<div class="col-xs-4 col-md-offset-2">
						<%= f.label :priority, :class => 'control-label' %>
					</div>
					<div class="col-xs-4">
						<%= f.select(:priority, priority_list, {}, {:class => 'form-control priority-selector'}) %>
						<%= f.error_span(:priority) %>
					</div>
				</div>

				  <div class="modal-footer">
				    <%= f.submit "Confirmar desejo", :class => 'btn btn-primary' %>
				    <a href="" class="btn btn-default" data-dismiss="modal">Fechar</a>
				  </div>

				<% end %>

			</div>
		</div>
	</div>
</div>
