<div class="modal fade" id="modal_comments">
  <div class="modal-dialog modal-sg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 style="text-align: center"><%=t('comments')%></h3>
      </div>
      <div class="modal-body">

        <% if @wish.user == current_user %>
          <div class="speech-bubbleSent">
            <p class="msgSent">
              <b><%= @wish.created_at.strftime("%d/%m/%Y")%><br> Você: </b><%= @wish.comments %>
            </p>
          </div>

        <% elsif !@wish.user.blank? %>
          <div class="speech-bubbleReceived">
            <p class="msgReceived">
              <b><%= @wish.created_at.strftime("%d/%m/%Y")%><br> <%= @wish.user.name %>: </b><%= @wish.comments %>
            </p>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
