<div class="modal fade" id="modalComments">
  <div class="modal-dialog modal-sg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modalComments">&times;</button>
        <h3 style="text-align: center"><%=t('comments')%></h3>
      </div>
      <div class="modal-body">
        <% @option.wishes.each do |msg| %>
        <% if msg.user == current_user %>
          <div class="speech-bubbleSent">
            <p class="msgSent">
              <b><%= msg.created_at.strftime("%d/%m/%Y")%><br> Você: </b><%= msg.comments %>
            </p>
          </div>

        <% elsif !msg.user.blank? %>
          <div class="speech-bubbleReceived">
            <p class="msgReceived">
              <b><%= msg.created_at.strftime("%d/%m/%Y")%><br> <%= msg.user.name %>: </b><%= msg.comments %>
            </p>
          </div>

        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
