  <div class="panel panel-default" style="margin-bottom:70px; margin-top:35px;">
    </br>

    <% matters_order.each do |matter| %>
      <% matter_options(matter) %>
      <% if !@options.blank? %>
        <h4 class="center"><%= matter.code_with_name %></h4>
        <hr/>

        <% @options.each do |option| %>

          <div style="margin: 10px; border-radius: 3px; background-color: rgb(238, 238, 238); padding: 3px;">
            <div id= "option" style="margin: 10px; border-radius: 3px; background-color:#455E8E; color: white; padding: 4px; text-align: center;">

              <% if user_has_wishes? and !option_wished(option) %>
                <%= link_to enable_button.html_safe, open_wish_options_path(option),
                    :title => "Escolher", :class => "btn btn-default", :remote => true, :style => "float:right;" %>
              <% elsif option_wished(option) %>
                <%= link_to enable_button.html_safe, remove_wishes_path(option),
                    :title => "Escolher", :class => "btn btn-danger disable", :method => "delete", :style => "float:right;" %>
              <% end %>

              <div id="option_schedules" data-href="<%= option_path(option) %>" style="width: calc(100% - 43px)">
                <%= option_schedules2(option).html_safe %>
              </div>

            </div>

            <div style="padding: 10px;">

              <table>
                <tbody>
                  <% option.groups.distinct.each do |group| %>
                    <tr>
                      <td class="center"> <%= group.name %> </td>
                      <td class="center"> <%= group.matter.code %></td>
                      <td class="center"> <%= group.course.name %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

          </div>

        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id="div-modal">
  </div>
