<table class="table table-striped">

  <thead>
    <tr class="header">
      <th width="120px"><center><%= t('matter')  %></center></th>
      <th width="100px"><center><%= t('groups')  %></center></th>
      <th width="200px" style="text-align: center;"><%= t('schedules') %></th>
      <th width="110px"><center><%= t('interested')  %></center></th>
      <th width="130px"> <center> <%=t '.actions', :default => t("helpers.actions") %> </center></th>
    </tr>

  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr data-href="<%= option_path(option) %>">

        <td class="center"> <%= option.matters[0].code %> </td>
        <td class="center"> <%= option_classes(option).html_safe %> </td>
        <td class="center" > <%= option_schedules(option).html_safe %> </td>
        <td class="center"> <%= option_users(option).html_safe %> </td>

        <td class="center" id="actions">

          <%= link_to edit_button.html_safe,
                edit_group_path(option), :class => 'btn btn-default btn-sm simple_button',
                title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

          <%= link_to remove_button.html_safe,
                group_path(option),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                :class => 'btn btn-sm btn-danger disable',
                title: 'Remover', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
