
<% matters_order.each do |matter| %>
  <% matter_options(matter) %>
  <% if !@options.blank? %>
  <h4 class="h4-options"><%= matter_group(matter) %></h4>
    <div id="scroll" class="panel panel-default panel-options">
      <% @options.each do |option| %>

      <div class="option-body">
        <div id= "option" class="option-head">

            <% if user_has_wishes? and !option_wished(option) %>
              <%= link_to check_button.html_safe, open_wish_options_path(option),
                  :title => "Escolher", :class => "btn btn-default m-choose", :remote => true %>
            <% elsif option_wished(option) %>
              <%= link_to check_button.html_safe, remove_wishes_path(option),
                  :title => "Escolher", :class => "btn btn-danger disable m-choose", :method => "delete" %>
            <% end %>
            <hr class="m-5">
            <div id="option_schedules" class="option-schedules" data-href="<%= option_path(option) %>">
              <%= option_schedules2(option).html_safe %>
            </div>


          </div>

          <div class="p-10">

            <table>
              <tbody>
                <% option.groups.distinct.each do |group| %>
                  <tr>
                    <td  class="center"> <%= group.name %> </td>
                    <td class="center"> <%= group.matter.code %></td>
                    <td class="center"> <%= group.course.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div>

      <% end %>
    </div>
    <hr/>
  <% end %>
<% end %>

<div id="div-modal"></div>
