
<h3 style="text-align: center"><span class="<%=index_icon(user_icon)%>"></span> <%=t('wishes')%></h3>

<table class="table table-striped">
  <thead>
    <tr class="header">
      <th class="center" width="50%"><%= t('interested') %></th>
      <th class="center" width="50%"><%= t('priority') %></th>
    </tr>
  </thead>
  <tbody>
    <% @option.wishes.each do |wish| %>
      <tr>
        <div class="form_table">
          <td class="center"><%= wish.user.name %></td>
          <td class="center"><%= wish.priority %></td>
        </div>
      </tr>
    <% end %>

  </tbody>
</table>

<div id="div-comments"> </div>
