<%- model_class = Option -%>

<div class="page-header no-mt-mb">
  <h1 class="center"><span class="<%=index_icon(option_icon)%>"></span> <%=t('options')%></h1>

  <div class="search-box">

    <%= search_form_for @q, url: search_options_path , html: { method: :post } do |f| %>

      <!--<%= f.select( :semester_id_eq, options_for_select(semester_options, current_semester.id), {}, {:class => 'form form-control filter-box'}) %>-->

      <%= f.text_field :id_eq, :autofocus => true, placeholder: "Procurar", :autocomplete => "off", :class => 'form-control searcher', :id => "fichas_input_search" %>

    <% end %>

  </div>

</div>

<% if @semester.options_selection? == true and @semester.options_finished != true %>
  <div id="options_partial" class="partial-content" >
    <%= render 'options' %>
  </div>
<% end %>
