<%- model_class = PerformBackup -%>

<div class="page-header noMarginTop padraoHeader2">

  <center><h1><span class="<%=index_icon(backups_icon)%>"></span> <%=t('backups')%></h1></center>

</div>

<div class="panel center less">
  <%= link_to "Realizar backup agora", perform_backups_do_perform_path,
      :title => "Realizar backup agora", :class => "btn btn-primary performNow",:id => "perform_backup", remote: true%>
  <%= form_for @perform_backup, :html => { :class => "form-horizontal group"} do |f| %>


    <div class="form-group" id="form_backup">
      <label class="control-label" style="display:inline-block;margin-right:10px;margin-left:20px;">A cada</label>
      <div class="days">
        <%= f.text_field :days, :class => 'form-control', style: "width:50px;" %>
      </div>
      <label class="control-label" style="display:inline-block;margin-left:-40px;">dia(s)</label>

      <label class="control-label" style="display:inline-block;margin-left:30px;margin-right:-65px;">às</label>
      <div class="time">
        <%= f.time_select :time, { minute_step: 30, :start_hour => 0}, :class => 'form-control', style: "width: 70px;display: inline-block;" %>
      </div>
      <%= f.submit "Agendar", :class => 'btn btn-primary', style: "margin-left:-60px;margin-top:-3px", remote: true %>
    </div>

  <% end %>

      <div id="spinner" style="display: none; margin:0 auto;text-align:center" class="center">
        <div class="showbox">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
          </div>
        </div>
        <h4 style="margin-top:80px;">Realizando backup...</h4>
      </div>

<div id="perform_render">

</div>


</div>
