<%= form_for(@contact) do |f| %>
<div class="form-group">
  <center>
    <% if contact.errors.any? %>
      <div id="error_expl" class="panel panel-danger" style="width:400px">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= pluralize(contact.errors.count, "erro(s)") %> ocorrido(s):</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => 'Seu nome', :value => user_name, :class => 'form-control', :style => 'width:400px;' %>
  </div>

  <div class="field">
    <%= f.text_field :email, :placeholder => 'Seu email', :value => user_email, :class => 'form-control', :style => 'width:400px;' %>
  </div>

  <div class="field">
    <%= f.text_area :message, :placeholder => 'Por favor, deixe sua mensagem', :class => 'form-control', :style => 'width:400px;height:300px' %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btnC', :value => 'ENVIAR' %>
  </div>
  </center>
</div>
<% end %>
