<!-- https://www.youtube.com/watch?v=zJYuLebl-Js
http://bootsnipp.com/snippets/featured/custom-login-registration-amp-forgot-password
-->

<br>
<br>
<br>
<br>
<br>
<div class="login-page">
  <div class="form-login">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "login-form") do |f| %>

      <%= f.email_field :email, autofocus: true, placeholder: "E-mail", size: 25%>

      <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", size: 25%>

      <!--
      <% if devise_mapping.rememberable? -%>
        <div >
          <%= f.check_box :remember_me, value: "trab" %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
        -->

      <button name="commit" data-disable-with="Login" type="submit ">
      Login</button>

      <br><br><br>
      <p class="message">Esqueceu sua senha?   <%= link_to "Mudar minha senha", new_password_path(resource_name), :class => 'btn btn-default btn-sm' %> </p>


    <% end %>

  </div>

</div>
