<table class="table table-striped">
  <thead>
    <tr class="header">

      <th><%= t('teacher') %></th>

      <th width="10%"><center><%= t('matter') %></center></th>

      <th width="110px"><center><%= t('semester') %></center></th>

      <th width="5%"><center><%= t('class') %></center></th>

      <% if user_signed_in?%>
        <th width="5%"><center><%= t('status') %></center></th>
      <% end %>

      <% if(!user_signed_in? || user_appriser? ) %>
        <th class="center w-90">
          <%= t('actions') %>
        </th>
      <% else %>
        <th class="center w-135" >
          <div class=" col-md-8">
            <%= t('actions') %>
          </div>

          <% if user_not_teacher? %>
            <%= link_to new_button.html_safe, new_ficha_path,
                button_configs(:new, "btn-default") %>
          <% end %>
        </th>
      <% end %>

    </tr>
  </thead>
  <tbody id="tbody">

    <% @fichas.each do |ficha| %>
      <tr data-href="<%= ficha_path(ficha) %>" >

          <td><%= ficha.user.name %></td>

        <td class="center"><span title="<%= ficha.group.matter.name %>" data-toggle='tooltip', data-placement='right'> <%= ficha.group.matter.code %> </span></td>

        <td class="center"><%= ficha.group.semester.semester_with_year %></td>

        <td class="center"><%= ficha.group.name %></td>

        <% if user_signed_in? %>
          <td><center><%= status_representation(ficha).html_safe %></center></td>
        <% end %>

        <td id="actions" class="center">

          <% if ficha.ready? %>
            <%= link_to download_button.html_safe, ficha_path(ficha, format: "pdf"),
                button_configs(:download, "btn btn-default simple_button") %>
          <% elsif user_signed_in? %>
            <%= link_to edit_button.html_safe, edit_ficha_path(ficha),
                button_configs(:edit, "btn btn-default simple_button") %>
          <% end %>

          <% if user_not_appriser? %>
            <%= link_to remove_button.html_safe, ficha_path(ficha),
                button_configs(:remove, "btn btn-danger disable", remove_configs_default) %>
          <% end %>

        </td>
      </tr>

    <% end %>

  </tbody>
</table>

<center>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm no-mt-mb">
      <%= render_pages(@elements, @page, "/fichas", ficha_page_length).html_safe %>
    </ul>
  </nav>
</center>
