<table class="table table-striped">
  <thead>
    <tr class="header">


      <% if (user_signed_in? && !current_user.teacher?) or !user_signed_in? or !params[:checkbox] %>
        <th><%= t('teacher') %></th>
      <% end %>

      <th width="120px"><center><%= t('matter') %></center></th>

      <th width="110px"><center><%= t('semester') %></center></th>

      <th width="60px"><center><%= t('class') %></center></th>

      <% if user_signed_in?%>
        <th width="60px"><center><%= t('status') %></center></th>
      <% end %>

      <% if(!user_signed_in? || user_appriser) %>
        <th  width="90px">
          <center>
            <%=t '.actions', :default => t("helpers.actions") %>
          </center>
        </th>
      <% else %>
        <th  width="130px">
          <center>   <%=t '.actions', :default => t("helpers.actions") %>

            <% if !current_user.teacher? %>
              <div style="float:right; margin-left:3px; width:37px;">
                <%= link_to new_button.html_safe, new_ficha_path, :class => 'btn-default btn-sm',
                  title: 'Adicionar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
              </div>
            <% end %>

          </center>
        </th>
      <% end %>

    </tr>
  </thead>
  <tbody id="tbody">
    <% @fichas.each do |ficha| %>
      <tr data-href="<%= ficha_path(ficha) %>" >
        <% if (user_signed_in? && !current_user.teacher?) or !user_signed_in? or !params[:checkbox] %>
          <td><%= ficha.user.name %></td>
        <% end %>
        <td><center> <span title="<%= ficha.matter.name %>" data-toggle='tooltip', data-placement='right'> <%= ficha.matter.code %> </span> </center></td>

        <td><center><%= getSemester(ficha) %></center></td>

        <td><center><%= ficha.team %></center></td>

        <% if user_signed_in?%>
          <td><center><%= status_representation(ficha.status).html_safe %></center></td>
        <% end %>

        <td id="actions"> <center>

          <!-- <%= link_to show_button.html_safe, ficha, :class => 'btn btn-default btn-sm',
            title: 'Visualizar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %> -->

          <% if status_ready(ficha.status) %>
              <div style="float:left;"><%= link_to download_button.html_safe, ficha_path(ficha, format:"pdf"), :class => 'btn btn-default btn-sm simple_button',
                    title: 'Baixar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %> </div>

          <% elsif user_signed_in? %>
              <%= link_to edit_button.html_safe,
                    edit_ficha_path(ficha), :class => 'btn btn-default btn-sm simple_button',
                    title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
          <% end %>

          <% if user_signed_in? && user_not_appriser %>

          <% end  %>

          <% if user_not_appriser %>

            <%= link_to remove_button.html_safe,
                        ficha_path(ficha),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                        :class => 'btn btn-sm btn-danger disable',
                        title: 'Remover', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>

          <% end %>

        </center> </td>
      </tr>

    <% end %>
  </tbody>
</table>

<center>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm">
      <%= render_pages(@elements, @page, "/fichas", 10).html_safe %>
    </ul>
  </nav>
</center>
