<table class="table table-striped">
  <thead>
    <tr>
      <% if (user_signed_in? && !current_user.teacher?) or !user_signed_in? %>
        <th><%= t('teacher') %></th>
      <% end %>

      <th><%= t('matter') %></th>

      <th width="15%"><center><%= t('created_at') %></center></th>

      <% if user_signed_in?%>
        <th width="10%"><center><%= t('status') %></center></th>
      <% end %>

      <% if(!user_signed_in? || user_appriser) %>
        <th  width="15%">
          <center>
            <%=t '.actions', :default => t("helpers.actions") %>
          </center>
        </th>
      <% else %>
        <th  width="20%">
          <center>   <%=t '.actions', :default => t("helpers.actions") %>
            <div style=float:right;>
              <%= link_to new_button.html_safe, new_ficha_path, :class => 'btn btn-primary btn-xs' %>
            <div>
          </center>
        </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @fichas.each do |ficha| %>
      <tr>
        <% if (user_signed_in? && !current_user.teacher?) or !user_signed_in? %>
          <td><%= ficha.user.name %></td>
        <% end %>
        <td><%= ficha.matter.name %></td>
        <td><center><%= ficha.created_at.strftime("%d/%m/%Y") %></center></td>

        <% if user_signed_in?%>
          <td><center><%= status_representation(ficha.status).html_safe %></center></td>
        <% end %>

        <td> <center>

          <%= link_to show_button.html_safe, ficha, :class => 'btn btn-default btn-sm' %>

          <% if status_ready(ficha.status) %>
              <%= link_to download_button.html_safe, ficha_path(ficha, format:"pdf"), :class => 'btn btn-default btn-sm'%>

          <% end %>

          <% if user_signed_in? && !status_ready(ficha.status)  %>
            <%= link_to edit_button.html_safe,
                        edit_ficha_path(ficha), :class => 'btn btn-default btn-sm' %>

          <% end %>

          <% if (user_not_appriser && !status_ready(ficha.status)) || user_admin %>

            <%= link_to remove_button.html_safe,
                        ficha_path(ficha),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-sm btn-danger disable' %>
          <% end %>

        </center> </td>
      </tr>

    <% end %>
  </tbody>
</table>
