<table class="table table-striped">
  <thead>
    <tr class="header">
      <% if (user_signed_in? && !current_user.teacher?) or !user_signed_in? %>
        <th><%= t('teacher') %></th>
      <% end %>

      <th><%= t('matter') %></th>

      <th width="15%"><center><%= t('semester') %></center></th>

      <% if user_signed_in?%>
        <th width="10%"><center><%= t('status') %></center></th>
      <% end %>

      <% if(!user_signed_in? || user_appriser || user_secretary) %>
        <th  width="15%">
          <center>
            <%=t '.actions', :default => t("helpers.actions") %>
          </center>
        </th>
      <% else %>
        <th  width="25%">
          <center>   <%=t '.actions', :default => t("helpers.actions") %>
            <div style=float:right;>
              <%= link_to new_button.html_safe, new_ficha_path, :class => 'btn btn-primary btn-xs',
                title: 'Adicionar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
            <div>
          </center>
        </th>
      <% end %>

    </tr>
  </thead>
  <tbody id="tbody">
    <% @fichas.each do |ficha| %>
      <tr data-href="<%= ficha_path(ficha) %>" >
        <% if (user_signed_in? && !current_user.teacher?) or !user_signed_in? %>
          <td><%= ficha.user.name %></td>
        <% end %>
        <td><%= ficha.matter.name %>
        </td>

        <td><center><%= getSemester(ficha) %></center></td>

        <% if user_signed_in?%>
          <td><center><%= status_representation(ficha.status).html_safe %></center></td>
        <% end %>

        <td id="actions"> <center>

          <%= link_to show_button.html_safe, ficha, :class => 'btn btn-default btn-sm',
            title: 'Visualizar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

          <% if status_ready(ficha.status) %>
              <%= link_to download_button.html_safe, ficha_path(ficha, format:"pdf"), :class => 'btn btn-default btn-sm',
              title: 'Baixar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

          <% end %>

          <% if user_signed_in? && !status_ready(ficha.status)  %>
            <%= link_to edit_button.html_safe,
                        edit_ficha_path(ficha), :class => 'btn btn-default btn-sm',
                        title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
          <% end %>

          <% if user_signed_in? && user_not_appriser and user_not_secretary %>

            <%= link_to duplicate_button.html_safe, copy_fichas_path(ficha), :class => 'btn btn-default btn-sm',
                        :id =>"copy_bt", title: 'Copiar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
          <% end  %>

          <% if user_not_appriser and user_not_secretary %>

            <%= link_to remove_button.html_safe,
                        ficha_path(ficha),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-sm btn-danger disable',
                        title: 'Remover', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>

                        <span id="teste">click</span>
          <% end %>

        </center> </td>
      </tr>

    <% end %>
  </tbody>
</table>

<center>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm">
      <%= render_pages(@elements, @page, "/fichas", 10).html_safe %>
    </ul>
  </nav>
</center>
