<%= form_for @ficha, :html => { :class => "form-horizontal ficha" } do |f| %>

  <% if @ficha.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@ficha.errors.count, "error") %> prohibited this ficha from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ficha.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">

    <header class="panel-heading header"><%= t('details') %></header>
    <br>

  <% if !current_user.appraiser? %>

    <div class="form-group">
      <%= f.label :semester, :class => 'control-label col-lg-3', :for => "select_year" %>

      <div class="col-lg-8">
        <%= select("ficha", "semester", %w(1 2)) %>
        <span> / </span>
        <%= f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year + 1) %>
      </div>

      <%=f.error_span(:year) %>
      <%=f.error_span(:semester) %>
    </div>

    <div class="form-group">
      <%= f.label :matter, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.collection_select(:matter_id, matters_order, :id, :name, include_blank: true) %>
      </div>
      <%=f.error_span(:matter_id) %>
    </div>

    <% if current_user.admin? %>

      <div class="form-group">
        <%= f.label :teacher, :class => 'control-label col-lg-3' %>
        <div class="col-lg-8">
          <%= f.collection_select(:user_id, users_order, :id, :name, include_blank: true) %>
        </div>
        <%=f.error_span(:user_id) %>
      </div>

    <% end %>

  <% else %>
    <div class="form-group">
      <%= f.label :semester, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_field_tag 'year', getSemester(@ficha), disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :matter, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_field_tag 'matter_name', @ficha.matter.name, disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :teacher, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_field_tag 'user_name', @ficha.user.name, disabled: true %>
      </div>
    </div>

  <% end %>

  <div class="form-group">
    <%= f.label :program, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_program">
      <%= f.text_area :program, :class => 'form-control resize', rows: count_lines(@ficha.program), :readonly => current_user.appraiser? %>
      <span id="program_error" class="error_mensage" role="alert"> </span>
    </div>
    <%=f.error_span(:program) %>
  </div>

  <div class="form-group">
    <%= f.label :general_objective, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_objective">
      <%= f.text_area :general_objective, :class => 'form-control resize', rows: count_lines(@ficha.general_objective), :readonly => current_user.appraiser? %>
      <span id="objective_error" class="error_mensage" role="alert"> </span>
    </div>
    <%=f.error_span(:general_objective) %>
  </div>

  <div class="form-group">
    <%= f.label :specific_objective, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_specific_objective">
      <%= f.text_area :specific_objective, :class => 'form-control resize', rows: count_lines(@ficha.specific_objective), :readonly => current_user.appraiser? %>
          <span id="specific_objective_error" class="error_mensage" role="alert"> </span>
    </div>
    <%=f.error_span(:specific_objective) %>
  </div>


  <div class="form-group">
    <%= f.label :didactic_procedures, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_procedures">
      <%= f.text_area :didactic_procedures, :class => 'form-control resize', rows: count_lines(@ficha.didactic_procedures), :readonly => current_user.appraiser?%>
      <span id="procedures_error" class="error_mensage" role="alert"> </span>
    </div>
    <%=f.error_span(:didactic_procedures) %>
  </div>

  <div class="form-group">
    <%= f.label :evaluation, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_evaluation">
      <%= f.text_area :evaluation, :class => 'form-control resize', rows: count_lines(@ficha.evaluation), :readonly => current_user.appraiser? %>
      <span id="evaluation_error" class="error_mensage" role="alert"> </span>
    </div>
    <%=f.error_span(:evaluation) %>
  </div>

  <div class="form-group">
    <%= f.label :basic_bibliography, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_basic_bibliography">
      <%= f.text_area :basic_bibliography, :class => 'form-control resize', rows: count_lines(@ficha.basic_bibliography), :readonly => current_user.appraiser? %>
      <span id="basic_bibliography_error" class="error_mensage" role="alert"> </span>
    </div>
    <%=f.error_span(:basic_bibliography) %>
  </div>

  <div class="form-group">
    <%= f.label :bibliography, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_bibliography">
      <%= f.text_area :bibliography, :class => 'form-control resize', rows: count_lines(@ficha.bibliography), :readonly => current_user.appraiser? %>
      <span id="bibliography_error" class="error_mensage" role="alert"> </span>
    </div>
    <%=f.error_span(:bicliography) %>
  </div>

</div>


<% if ((@ficha.status == "Reprovado" && current_user.teacher?) || !current_user.teacher?)  %>
  <div class="panel panel-default">
    <header class="panel-heading header"><%= t('confirmation') %></header>
    <br>



  <% if current_user.teacher? %>

  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8">
        <%= f.text_field_tag 'ficha_status', @ficha.status, disabled: true %>
    </div>
  </div>
  <%else %>

  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8">

      <%= f.select("status", %w(Aprovado Reprovado)) %>

    </div>
    <%=f.error_span(:status) %>
  </div>

  <% end %>

  <div class="form-group">
    <%= f.label :appraisal, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8">
      <%= f.text_area :appraisal, :class => 'form-control resize', rows: count_lines(@ficha.appraisal), :readonly => current_user.teacher? %>
    </div>
    <%=f.error_span(:appraisal) %>
  </div>

  </div>
<% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fichas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
