<%= form_for @ficha, :html => { :class => "form-horizontal ficha" } do |f| %>

  <% if @ficha.errors.any? %>
    <center><div id="error_explanation">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@ficha.errors.count, "erro(s)") %> ocorrido(s):</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ficha.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div><br><br></center>
  <% end %>

  <%= render 'modal' %>

  <div class="panel panel-default">

    <header class="panel-heading header"><%= t('details') %>
      <div style="float: right;">

        <% if !@ficha.id.blank? and hasEquivalent(@ficha) and @ficha.status != 'Aprovado' and !@show %>
          <button action='' type="button" class="btn btn-default btn-xs"
          data-toggle="modal" data-target="#modal-1" title='Copiar' data-placement:='right'><%= duplicate_button.html_safe %></button>
        <% end %>

      </div>

    </header>
    <br>

  <% if @show or user_appriser %>
    <div class="form-group">
      <%= f.label :semester, :class => 'control-label col-lg-3' %>
      <div class="col-lg-2">
        <%= f.text_field 'year', :value => getSemester(@ficha), :class => 'form-control', :autocomplete => "off", :readonly => can_not_edit(@ficha) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :matter, :class => 'control-label col-lg-3' %>
      <div class="col-lg-7">
        <%= f.text_field 'matter_name', :value => getMatter(@ficha), :class => 'form-control', :autocomplete => "off", :readonly => can_not_edit(@ficha) %>
      </div>

      <div class="col-lg-1">
        <%= f.text_field 'team', :value => @ficha.team, :class => 'form-control', :autocomplete => "off", :readonly => can_not_edit(@ficha) %>
      </div>

    </div>

    <div class="form-group">
      <%= f.label :teacher, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_field 'user_name', :value => @ficha.user.name, :class => 'form-control', :autocomplete => "off", :readonly => can_not_edit(@ficha) %>
      </div>
    </div>

  <% else %>


    <div class="form-group">
      <%= f.label :matter, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">

        <% if !current_user.teacher? %>
        <%= f.collection_select(:matter_id, matters_order, :id, :code, {:include_blank => true} , { :class => 'form-control'}) %>
        <% else %>
          <%= f.text_field 'matter_name', :value => getMatter(@ficha), :class => 'form-control', :autocomplete => "off", :readonly => true %>
        <% end %>

        <%=f.error_span(:matter) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :semester, :class => 'control-label col-lg-3', :for => "select_year" %>

      <div class="col-lg-8">
        <%= f.select :semester, (%w(1 2)), {}, { :class => 'form-control', :style => 'width:70px;float:left;margin-right:5px;'} %>

        <%= f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year + 1),{}, { :class => 'form-control', :style => 'width:80px;float:left;margin-left:5px;'} %>
      </div>

      <%=f.error_span(:year) %>
      <%=f.error_span(:semester) %>
    </div>

    <div class="form-group">
      <%= f.label :team, :class => 'control-label col-lg-3' %>
      <div class="col-lg-1">
        <%= f.text_field 'team', :value => @ficha.team, :class => 'form-control', :autocomplete => "off"%>

        <%=f.error_span(:team) %>
      </div>
    </div>

    <% if (current_user.admin? or current_user.secretary?) and !@show%>

      <div class="form-group">
        <%= f.label :teacher, :class => 'control-label col-lg-3' %>
        <div class="col-lg-8">
          <%= f.collection_select(:user_id, users_order, :id, :name, {:include_blank => true} , { :class => ' form-control'}) %>
          <%=f.error_span(:user) %>
        </div>
      </div>

    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :program, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_program">
      <%= f.text_area :program, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.program), :readonly => can_not_edit(@ficha) %>
      <span id="program_error" class="error_mensage" role="alert"> </span>
      <%=f.error_span(:program) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :general_objective, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_objective">
      <%= f.text_area :general_objective, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.general_objective), :readonly => can_not_edit(@ficha) %>
      <span id="objective_error" class="error_mensage" role="alert"> </span>
      <%=f.error_span(:general_objective) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :specific_objective, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_specific_objective">
      <%= f.text_area :specific_objective, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.specific_objective), :readonly => can_not_edit(@ficha) %>
          <span id="specific_objective_error" class="error_mensage" role="alert"> </span>
          <%=f.error_span(:specific_objective) %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :didactic_procedures, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_procedures">
      <%= f.text_area :didactic_procedures, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.didactic_procedures), :readonly => can_not_edit(@ficha)%>
      <span id="procedures_error" class="error_mensage" role="alert"> </span>
      <%=f.error_span(:didactic_procedures) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :evaluation, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_evaluation">
      <%= f.text_area :evaluation, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.evaluation), :readonly => can_not_edit(@ficha) %>
      <span id="evaluation_error" class="error_mensage" role="alert"> </span>
      <%=f.error_span(:evaluation) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :basic_bibliography, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_basic_bibliography">
      <%= f.text_area :basic_bibliography, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.basic_bibliography), :readonly => can_not_edit(@ficha) %>
      <span id="basic_bibliography_error" class="error_mensage" role="alert"> </span>
      <%=f.error_span(:basic_bibliography) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bibliography, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8" id="div_bibliography">
      <%= f.text_area :bibliography, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.bibliography), :readonly => can_not_edit(@ficha) %>
      <span id="bibliography_error" class="error_mensage" role="alert"> </span>
      <%=f.error_span(:bibliography) %>
    </div>
  </div>

</div>


<% if user_signed_in? and ((@ficha.status == "Reprovado" && current_user.teacher?) || !current_user.teacher?)  %>

  <div class="panel panel-default">
    <header class="panel-heading header"><%= t('confirmation') %></header>
    <br>

  <% if current_user.teacher? or (@ficha.status == "Aprovado") or @show %>

    <div class="form-group">
      <%= f.label :status, :class => 'control-label col-lg-3' %>
      <div class="col-lg-3">
        <%= f.text_field 'ficha_status', :value => @ficha.status, :class => 'form-control', :readonly => true %>
      </div>
    </div>

  <%else %>

    <div class="form-group">
      <%= f.label :status, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8" id='select_status'>

        <% if current_user.appraiser? %>
          <%= f.select :status, (%w(Reprovado Aprovado Enviado)), {}, { :class => 'form-control', :style => 'width:120px;float:left;margin-right:5px;'} %>
        <% else %>
          <%= f.select :status, (%w(Editando Reprovado Aprovado Enviado)), {}, { :class => 'form-control', :style => 'width:120px;float:left;margin-right:5px;'} %>
        <% end %>

        <div id="ficha_status_icon" style="padding-top:8px;"> <%= status_representation(@ficha.status).html_safe %> </div>

      <% if @ficha.status != "Reprovado"%>
        <script type="text/javascript">
          $("#appraisal_show").hide();
        </script>
      <% end %>

      </div>
      <%=f.error_span(:status) %>
    </div>

  <% end %>

  <% if @ficha.status != 'Aprovado' %>

  <div class="form-group" id='appraisal_show'>

    <%= f.label :appraisal, :class => 'control-label col-lg-3' %>
    <div class="col-lg-8">
      <%= f.text_area :appraisal, :class => 'form-control resize', rows: count_lines(@ficha.appraisal), :readonly => (current_user.teacher? or @show) %>
    </div>
    <% f.error_span(:appraisal) %>

  </div>

 <% end %>

  </div>
<% end %>

  <% if(!@show) %>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">

        <button action='' type="button" class="btn btn-default btn-sm"
        data-toggle="modal" data-target="#modal-2" title='Instruções' data-placement:='right'><%= help_button.html_safe %></button>

        <%= f.submit nil, :class => 'btn btn-primary' %>

        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  fichas_path, :class => 'btn btn-default' %>


                </div>
              </div>

  <% end %>
  <% if (@show) %>
    <% if user_secretary or user_admin %>
        <%= link_to "Criar outra ficha", new_ficha_path, :class => 'btn btn-default', :style => 'float:right' %>
    <% end %>
  <% end %>
<% end %>
