<% if !@show %>
  <%= render '/messages/modal_out' %>
<% end %>

<%= form_for @ficha,:html => { :class => "form-horizontal ficha", :id => "ficha_form" } do |f| %>

  <% if @ficha.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= pluralize(@ficha.errors.count, "erro(s)") %> ocorrido(s):</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ficha.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render 'modal' %>

  <div class="panel panel-default">

    <header class="panel-heading header headerOutra"><%= t('details') %>

      <% if @show and (user_secretary? or user_admin?) %>

        <div class="addAnotherFicha">
          <%= link_to new_button.html_safe, new_ficha_path, :class => 'btn btn-default btn-sm',
          title: 'Criar outra ficha', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
        </div>

      <% elsif !@show %>

         <div class="addAnotherMsg">
            <button action='' type="button" class="btn btn-default btn-sm"
              data-toggle="modal" data-target="#modal_out" title='Mensagens'
              data-placement:='right'><%= messages_button.html_safe %>

              <% if messages_length != 0  %>
                 <span id="badges" class="<%= badges_class %>">
                   <%= messages_length %>
                 </span>
              <% end %>

            </button>
        </div>

        <% if hasEquivalent(@ficha) and !@ficha.ready? %>

          <div class="addAnotherFicha">
              <button action='' type="button" class="btn btn-default btn-sm"
              data-toggle="modal" data-target="#modal-1" title='Copiar' data-placement:='right'><%= duplicate_button.html_safe %></button>
          </div>

        <% end %>

        <div class="addAnother">
          <button action='' type="button" class="btn btn-default btn-sm"
            data-toggle="modal" data-target="#modal-2" title='Instruções'
            data-placement:='right'>  <%= question_button.html_safe %> </button>
        </div>

        <% if user_not_appriser? and user_not_admin? %>
          <div class="addAnother" style="float: right;" id="select_status">
              <span class="btn btn-default btn-sm active" title='Copiar' data-placement:='right'><%= status_representation(@ficha).html_safe %></button>
          </div>
        <% end %>

      <% end %>
    </header>
    <br>

    <% if !@show and (user_signed_in? and ((@ficha.reproved? && current_user.teacher?) || !current_user.teacher?))  %>

      <div class="form-group">
        <%= f.label :status, :class => 'control-label col-lg-3' %>
        <div class="col-lg-8" id='select_status'>

          <%= f.select :status, options_status, {}, { :class => 'form-control', :style => 'width:135px;float:left;margin-right:5px;'} %>

          <div id="ficha_status_icon" style="padding-top:8px;"> <%= status_representation(@ficha).html_safe %> </div>

        </div>
        <%=f.error_span(:status) %>
      </div>

    <% end %>

    <!-- no lugar do selector -->

    <div class="form-group">
      <%= f.label :teacher, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_field 'user_name', :value => @ficha.user.name, :class => 'form-control', :readonly => true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :matter, :class => 'control-label col-lg-3' %>
      <div class="col-lg-7">
        <!-- getMatter(@ficha) -->
        <%= f.text_field 'matter_name', :value => @ficha.group.matter.code_with_name, :class => 'form-control', :readonly => true %>
      </div>

      <div class="col-lg-1">
        <%= f.text_field 'team', :value => @ficha.group.name, :class => 'form-control', :readonly => true %>
      </div>

    </div>

    <div class="form-group">
      <%= f.label :semester, :class => 'control-label col-lg-3' %>
      <div class="col-lg-2">
        <%= f.text_field 'semester', :value => @ficha.group.semester.semester_with_year, :class => 'form-control', :readonly => true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :program, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8" id="div_program">
        <%= f.text_area :program, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.program), :readonly => can_not_edit(@ficha) %>
        <span id="program_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:program) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :general_objective, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8" id="div_objective">
        <%= f.text_area :general_objective, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.general_objective), :readonly => can_not_edit(@ficha) %>
        <span id="objective_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:general_objective) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :specific_objective, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8" id="div_specific_objective">
        <%= f.text_area :specific_objective, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.specific_objective), :readonly => can_not_edit(@ficha) %>
            <span id="specific_objective_error" class="error_mensage" role="alert"> </span>
            <%=f.error_span(:specific_objective) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :didactic_procedures, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8" id="div_procedures">
        <%= f.text_area :didactic_procedures, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.didactic_procedures), :readonly => can_not_edit(@ficha)%>
        <span id="procedures_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:didactic_procedures) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :evaluation, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8" id="div_evaluation">
        <%= f.text_area :evaluation, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.evaluation), :readonly => can_not_edit(@ficha) %>
        <span id="evaluation_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:evaluation) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :basic_bibliography, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8" id="div_basic_bibliography">
        <%= f.text_area :basic_bibliography, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.basic_bibliography), :readonly => can_not_edit(@ficha) %>
        <span id="basic_bibliography_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:basic_bibliography) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :bibliography, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8" id="div_bibliography">
        <%= f.text_area :bibliography, :class => 'form-control resize',:maxlength => 3500, rows: count_lines(@ficha.bibliography), :readonly => can_not_edit(@ficha) %>
        <span id="bibliography_error" class="error_mensage" role="alert"> </span>
        <%=f.error_span(:bibliography) %>
      </div>
    </div>

    <% if !@show %>
      <div class="form-group">
        <div class="col-lg-offset-7 col-lg-10">

          <%= f.submit nil, :class => 'btn btn-primary' %>

          <%= link_to t("cancel"), fichas_path, :class => 'btn btn-default' %>

        </div>
      </div>
    <% end %>

  </div>

<% end %>
