<div style="margin-left: 20px; margin-right: 20px;">
  
  <table class="table table-striped">
    <thead>
      <tr class="header">

        <th><%= t('teacher') %></th>

        <th><%= t('matter') %></th>

        <th width="10%"><center><%= t('semester') %></center></th>

        <th width="5%"><center><%= t('team') %></center></th>

        <th  width="15%"><center> <%=t '.actions', :default => t("helpers.actions") %> </center> </th>

      </tr>
    </thead>

    <tbody id="tbody">
      <% $list.each do |ficha| %>

        <tr>

          <td><%= ficha.user.name %></td>

          <td><%= ficha.matter.name %></td>

          <td><center><%= getSemester(ficha) %></center></td>

          <td><center><%= ficha.team %></center></td>

          <td id="actions">
            <center>
              <%= link_to show_button.html_safe, ficha, :class => 'btn btn-default btn-sm',
                title: 'Visualizar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
            </center>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>
