<div style="margin-left: 20px; margin-right: 20px;">
  <table class="table table-striped">
    <thead>
      <tr class="header">

        <th><%= t('name') %></th>

        <th><%= t('code') %></th>

        <th  width="15%"><center> <%=t '.actions', :default => t("helpers.actions") %> </center> </th>

      </tr>
    </thead>

    <tbody id="tbody">
      <% $matters.each do |matter| %>

        <tr>
          <td><%= matter.name %></td>

          <td><%= matter.code %></td>

          <td id="actions">
            <center>
              <%= link_to show_button.html_safe, '#', :class => 'btn btn-default btn-sm',
                title: 'Visualizar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
            </center>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>
