<%- model_class = Ficha -%>

<div class="page-header">
  <h1>Importar</h1>
</div>


  <div class="panel panel-default">

    <header class="panel-heading header"><%= t('import') %></header>
    <br>

    <%= form_tag importing_fichas_path, multipart: true, method: 'post', :remote => true do %>

      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

      <div class="form-group">

        <div class="col-lg-2">
          <label class="control-label col-lg-3" for="file"> <%=t('upload')%></label>
        </div>

        <div class="col-lg-7">
          <%= file_field_tag "file" %>
        </div>

      </div>

      <br>
      <br>

      <div class="form-group">
        <div class="col-lg-10">
        <center>
          <%= submit_tag "Importar", :id => 'import_btn', 'data-disable-with' => "Loading" %>
        </center>
        </div>
      </div>

      <%= link_to reload_button.html_safe, reload_fichas_path, :class => 'btn btn-default btn-sm',
      title: 'Reload', 'data-toggle' => 'tooltip', 'data-placement' => 'right', :remote => true %>
    <% end %>
    <br>
  </div>

  <div class="panel panel-default">

    <ul class="nav nav-tabs">
      <li id="matters_nav" class="active" role="presentation"><a onclick="teste();"><%= t('matters') %></a></li>
      <li id="teachers_nav" role="presentation"><a><%= t('teachers') %></a></li>
      <li id="fichas"  role="presentation"><a><%= t('fichas') %></a></li>
    </ul>
    <br>


    <div id="loading-indicator">
      <center>
        <%= image_tag("loading.gif", :id => "loading-indicator", size: "211x146") %>
      </center>
    </div>

    <div id="modal">
      <%= render 'modal' %>
    </div>

    <div id="matters_import">
      <%= render 'matters_import' %>
    </div>


    <div id="teachers_import">
      <%= render 'teachers_import' %>
    </div>


    <div id="imports_partial">
      <%= render 'imports' %>
    </div>

    <script>
      $("#teachers_import").hide();
      $("#imports_partial").hide();
    </script>

</div>
