<%- model_class = Ficha -%>

<div class="page-header">

  <div style="color: black; float: right;">

    <%= search_form_for @q do |f| %>

      <% if(user_signed_in?)%>

        <% if user_not_secretary %>
          <input id="yours_checkbox" data-role="<%= current_user.role %>" name="checkbox" type="checkbox"> Suas
        <% end %>

        <%= f.select(:status_cont, [['Todos', ''], ['Aprovados', 'Aprovado'], ['Reprovados', 'Reprovado'],
         ['Editando', 'Editando'], ['Enviados', 'Enviado']]) %>

      <% end %>

      <%= f.select :year_eq, options_for_select(getYears, 'Todos') %>

      <%= f.text_field :team_or_matter_name_or_matter_code_or_user_name_cont, :autofocus => true, placeholder: "procurar", :autocomplete => "off" %>
      <%= search_button.html_safe %>
    <% end %>

  </div>

  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

</div>

<div id="fichas_partial">
  <%= render 'fichas' %>
</div>

<% if user_secretary or user_admin %>
  <%= link_to "Importar", import_fichas_path, :class => 'btn btn-default' %>
<% end %>
