<%- model_class = Ficha -%>

<div class="page-header no-mt-mb">
  <h1 class="center"><span class="<%=index_icon(ficha_icon)%>"></span> Fichas</h1>

  <div class="search-box">
    <%= search_form_for @q, url: search_fichas_path , html: { method: :post } do |f| %>

      <% if user_signed_in? %>

        <% if user_not_secretary? %>
          <input id="yours_checkbxox" class="mg-top" name="checkbox" type="checkbox">
          <span >Suas</span>
        <% end %>

        <%= f.select(:status_cont, [['Todos status', ''], ['Aprovados', 2], ['Reprovados', 3],
          ['Editando', 0], ['Encaminhados', 1]], {}, {:class => 'form form-control status-box'}) %>

      <% end %>

      <%= f.select( :group_semester_id_eq, options_for_select(semester_options, current_semester.id), {}, {:class => 'form form-control filter-box'}) %>

      <%= f.text_field :group_name_or_group_matter_name_or_group_matter_code_or_user_name_cont, :autofocus => true, placeholder: "Procurar", :autocomplete => "off", :class => 'form-control searcher', :id => "fichas_input_search" %>

    <% end %>

  </div>

</div>

<div id="fichas_partial" class="partial-content">
  <%= render 'fichas' %>
</div>
