<%- model_class = Ficha -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:teacher_id) %></th>
      <th><%= model_class.human_attribute_name(:matter_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @fichas.each do |ficha| %>
      <tr>
        <td><%= link_to ficha.id, ficha_path(ficha) %></td>
        <td><%= ficha.teacher.name %></td>
        <td><%= ficha.matter.name %></td>
        <td>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ficha_path(ficha), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ficha_path(ficha),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ficha_path,
            :class => 'btn btn-primary' %>
