<%- model_class = Ficha -%>

<div class="page-header">

  <div style="color: black; float: right;">


    <%= search_form_for @q do |f| %>

      <% if(user_signed_in?)%>

        <% if user_not_secretary %>
          <input id="yours_checkbox" name="checkbox" type="checkbox"> Suas
        <% end %>

        <%= f.select(:status_cont, [['Todos', ''], ['Aprovados', 'Aprovado'], ['Reprovados', 'Reprovado'],
         ['Editando', 'Editando'], ['Enviados', 'Enviado']]) %>

      <% end %>

      <select name="q[year_eq]" id="q_year_eq">

        <option value="">Todos</option>
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018"><label><input type="checkbox" value="" disabled>Option 3</label></option>

      </select>

      <%= f.select :year_eq, options_for_select(getYears, 'Todos') %>

      <%= f.text_field :team_or_matter_name_or_matter_code_or_user_name_cont, :autofocus => true, placeholder: "procurar", :autocomplete => "off" %>
      <%= search_button.html_safe %>
    <% end %>

    <% if user_not_secretary %>
      <!-- Teoricamente temporário -->
      <script type="text/javascript">
        $('#q_status_cont').hide();
        $('#yours_checkbox').prop('checked', false);
      </script>
    <% end %>


  </div>

  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

</div>

<div id="fichas_partial">
  <%= render 'fichas' %>
</div>

<% if user_secretary or user_admin %>
  <%= link_to "Importar", import_fichas_path, :class => 'btn btn-default' %>
<% end %>
