<%- model_class = Ficha -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>


<%= form_for @ficha, :html => { :class => "form-horizontal ficha" } do |f| %>

  <div class="panel panel-default">
    <header style="background-color: #222;color: white;"
            class="panel-heading"><%= t('details') %></header>
    <br>

    <div class="form-group">
      <%= f.label :matter, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.text_field_tag 'matter_name', @ficha.matter.name, disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :teacher, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.text_field_tag 'matter_name', @ficha.user.name, disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :general_objective, :class => 'control-label col-lg-2' %>
      <div class="col-lg-9">
        <%= f.text_field :general_objective, :class => 'form-control', :readonly => true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :specific_objective, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_area :specific_objective, :class => 'form-control resize', rows: 4, :readonly => true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :didactic_procedures, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_area :didactic_procedures, :class => 'form-control resize', rows: 4, :readonly => true%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :evaluation, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_area :evaluation, :class => 'form-control resize', rows: 4, :readonly => true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :basic_bibliography, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_area :basic_bibliography, :class => 'form-control resize', rows: 4, :readonly => true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :bibliography, :class => 'control-label col-lg-3' %>
      <div class="col-lg-8">
        <%= f.text_area :bibliography, :class => 'form-control resize', rows: 4, :readonly => true %>
      </div>
    </div>

</div>

  <% if (@ficha.status == "Reprovado")  %>

    <div class="panel panel-default">
      <header style="background-color: #222;color: white;"
              class="panel-heading"><%= t('confirmation') %></header>
      <br>

      <div class="form-group">
        <%= f.label :status, :class => 'control-label col-lg-3' %>
        <div class="col-lg-8">
            <%= f.text_field :status, :class => 'form-control resize', :readonly => true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :appraisal, :class => 'control-label col-lg-3' %>
        <div class="col-lg-8">
          <%= f.text_area :appraisal, :class => 'form-control resize', rows: 4, :readonly => true %>
        </div>
      </div>

    </div>
  <% end %>

<% end %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              fichas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ficha_path(@ficha), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ficha_path(@ficha),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
