<%- model_class = Ficha -%>
<div class="page-header no-mt-mb">
  <center><h1><span class="glyphicon glyphicon-list-alt blue"></span> <%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<% show_ficha %>
<%= render :partial => 'form' %>

<%= link_to t('.back', :default => t("helpers.links.back")),
    fichas_path, :class => 'btn btn-default mb-70'  %>

<% if user_signed_in? %>

  <% if @ficha.status != 'Aprovado' %>

    <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_ficha_path(@ficha), :class => 'btn btn-default mb-70' %>
  <% end %>
  <% if user_not_teacher? %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                ficha_path(@ficha),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                :class => 'btn btn-danger white mb-70' %>
  <% end %>

  <% if status_ready(@ficha.status) %>
    <%= link_to download_button.html_safe, ficha_path(@ficha, format:"pdf"), :class => 'btn btn-default mb-70 f-right',
        title: 'Baixar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
  <% end %>
<% end %>
