<p id="notice"><%= notice %></p>

<p>
  <strong>Availability:</strong>
  <%= @unavailability.availability %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @unavailability.schedule %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @unavailability.comments %>
</p>

<%= link_to 'Edit', edit_unavailability_path(@unavailability) %> |
<%= link_to 'Back', unavailabilities_path %>
