<table class="table table-striped">
  <thead>
    <tr class="header">
      <th class="header-border-left" width="80px"><%= t('code') %></th>

      <th ><%= t('name') %></th>

      <% if user_admin_or_secretary? %>
        <th class="header-border-right center w-135">

          <div class=" col-md-8">
            <%= t('actions') %>
          </div>

          <% if user_not_teacher? %>
            <%= link_to new_button.html_safe, new_course_path,
                button_configs(:new, "btn-default") %>
          <% end %>

        </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr data-href="<%= course_path(course) %>">
        <td>codigo</td>
        <td><%= course.name %></td>

        <% if user_admin_or_secretary? %>
          <td id="actions" class="center">

            <%= link_to edit_button.html_safe, edit_course_path(course),
                button_configs(:edit, "btn btn-default simple_button") %>

            <%= link_to remove_button.html_safe, course_path(course),
                button_configs(:remove, "btn btn-danger disable", remove_configs_default) %>

          </td>
       <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<center>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm no-mt-mb" id ="course_pages">
      <%= render_pages(@elements, @page, "/courses", course_page_length).html_safe %>
    </ul>
  </nav>
</center>
