<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default" style="margin-bottom:70px;padding-bottom:100px;">
    <header class="panel-heading header headerOutra"><%= t('details') %></header>
    </br>
    <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
      <div class="col-md-9 marginBottom3">

      <%= f.text_field :name, :class => 'form-control width marginLeft' %>
        <%=f.error_span(:name) %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        courses_path, :class => 'btn btn-default right padraoHeader' %>
        <%= f.submit nil, :class => 'btn btn-primary right padraoHeader' %>
      </div>
    </div>
  </div>

<% end %>
