<%= form_tag manage_options_choose_class_room_path, remote: true do %>

  <input name="group" type="hidden" value="<%= group.id %>"/>
  <div class="col-md-2" style="padding:0;margin-right:10px">
    <%= text_field_tag :class_room, nil,  {:placeholder => 'Sala', class: 'form-control', autocomplete: false, } %>
  </div>
  <div class="col-md-5" style="padding:0">
    <div class="form-control"> <%= group.ficha.user.name %> </div>
  </div>

  <div class="col-md-1" style="padding: 0 0 0 10px; margin-top: 2px;">
    <%= button_tag(type: "submit", class: "btn btn-success btn-sm") do
      simple_check_button.html_safe
    end %>
  </div>

<% end %>
