

<div id="manage_actions" class="panel panel-default panel-manage p-20 panel-width-manage">

  <h3 class="center" id="semester_text"><%= current_semester.semester_with_year_show %> </h3>

  <% if !options_not_generated? %>
    <div class="manage-panel-reset">
      <%= link_to manage_options_generate_path,
          id: "options_generate", remote: true,
          :"data-load" => "Gerando opções...",
          class: 'btn big-btn blue-btn white' do %>
          <%= big_generate_button.html_safe %>
          <h4 style="text-align:center;margin-top:20px">Gerar</h4>
          <% end %>
    </div>
  <% else %>

  <div class="panel panel-default progress-panel">
    <div class="row">
      <div class="col-md-4">
        <div class="center">
          <% if !options_started? %>
            <div class="manage-start">
              <%= link_to manage_options_start_path,
                  id: "options_start", remote: true,
                  :"data-load" => "Iniciando período de seleções...",
                  class: 'btn big-btn blue-btn white' do %>
                  <%= big_play_button.html_safe %>
                  <h4 style="text-align:center;margin-top:20px">Iniciar</h4>
                  <% end %>
            </div>
          <% else %>
            <div class="manage-end">
                <%= link_to manage_options_end_path,
                    id: "options_remove", remote: true,
                    :"data-load" => "Encerrando período de seleção  ...",
                    class: 'btn big-btn blue-btn white' do%>
                    <%= big_stop_button.html_safe %>
                    <h4 style="text-align:center;margin-top:20px">Finalizar</h4>
                    <% end %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="center">
          <div class="manage-records">
            <%= link_to "#{manage_options_all_records_path}.pdf",
            :"data-load" => "Gerando relatório...",
            class: 'btn big-btn blue-btn white m-r-10' do %>
            <%= big_record_button.html_safe %>
            <h4 style="text-align:center;margin-top:10px">Relatório<br>Fichas</h4>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="center">
          <div class="manage-remove">
            <%= link_to manage_options_remove_path,
                id: "options_remove", remote: true, method: :delete,
                :"data-load" => "Removendo opções...",
                class: 'btn big-btn blue-btn white' do %>
                <%= big_trash_button.html_safe %>
                <h4 style="text-align:center;margin-top:20px">Remover</h4>
                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  

<% end %>

<div class="more-semesters disabled_btn" id="btn_trigger">
  <h2 id="h2_text">Mais semestres</h2>
  <i class="glyphicon glyphicon-menu-down blue" id="animation_icon"></i>
</div>

<%= form_tag("#{find_pdf_manage_options_path}.pdf", method: :get, id: "form_semesters") do %>

  <%= select_tag( :semester_id, options_for_select(semester_options_diff, selected: @semester_id),
      {:class => 'form form-control filter-box select-center'}) %>

  <input id="selected" type="hidden" name="selected" value="">
  <div class="row">
    <div class="col-md-3">
      <div class="center report_generate">
        <%= link_to "#",
        :"data-load" => "Gerando relatório...",
        class: 'btn big-btn blue-btn white m-r-10',
          id: 'teachers' do %>
          <%= big_user_button.html_safe %>
          <h4 style="text-align:center;margin-top:10px">Relatório<br>docentes</h4>
          <% end %>
        </div>
    </div>
    <div class="col-md-3">
      <div class="center report_generate">
        <%= link_to "#",
        :"data-load" => "Gerando relatório...",
        class: 'btn big-btn blue-btn white m-l-10',
          id: 'matters' do %>
          <%= big_matter_button.html_safe %>
          <h4 style="text-align:center;margin-top:10px">Relatório<br>disciplinas</h4>
          <% end %>
        </div>
    </div>
    <div class="col-md-3">
      <div class="center report_generate">
        <%= link_to "#",
        :"data-load" => "Gerando relatório...",
        class: 'btn big-btn blue-btn white m-l-10',
          id: 'final' do %>
          <%= big_record_button.html_safe %>
          <h4 style="text-align:center;margin-top:10px">Relatório<br>final</h4>
          <% end %>
        </div>
    </div>
    <div class="col-md-3">
      <div class="center report_generate">
        <%= link_to "#",
        :"data-load" => "Gerando relatório...",
        class: 'btn big-btn blue-btn white m-l-10',
          id: 'all_records' do %>
          <%= big_record_button.html_safe %>
          <h4 style="text-align:center;margin-top:10px">Relatório<br>Fichas</h4>
          <% end %>
        </div>
    </div>


  </div>
  <% end %>


</div>
<script type="text/javascript">
  $("#form_semesters").hide();
  $("#teachers, #matters, #final, #all_records").on('click', function(){
      $('#selected').val(this.id);
      this.closest('form').submit();
  });

  $("#btn_trigger").click(function() {
    var self = $(this);

    if (self.hasClass('actived')) {
      $("#form_semesters").slideUp(function() {
        self.find("#animation_icon").removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down");
        self.find("#h2_text").html("Mais semestres");

      });
      $(this).removeClass("actived");
    }
    else {
      $("#form_semesters").slideDown(function() {
        self.find("#animation_icon").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up");
        self.find("#h2_text").html("Menos semestres");
      });
      $(this).addClass("actived");
    }
  });

</script>
