<div class="panel panel-default" style="padding:3px; background-color: #f9f9f9f; margin: 0 0 0 0;">

    <div class="row" style="margin: 0px;">

      <div class="col-md-3" style="padding: 0px;margin-right:10px">
        <div class="form-control"> <%= group.group_with_code %> </div>
      </div>

      <div id="selector_<%=group.id%>_partial">
        <%= render "choose_options", group: group %>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">

        <% group.option.wishes.each do |wish| %>
          <div>
            <%= wish.priority %>
            <%= wish.user.name %>
          </div>
        <% end %>

      </div>
    </div>
</div>
