<div class="panel panel-default" style="padding:3px; background-color: #f9f9f9f; margin: 0 0 0 0;">

    <div class="row" style="margin: 0px;">

      <div class="col-md-2" style="padding: 0px;margin-right:10px; width: 19.76666667%;">
        <div class="form-control"> <%= group.group_with_code %> : <%= group.id %> </div>
      </div>

      <div id="selector_<%=group.id%>_partial">
        <%= render "choose_options", group: group %>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <% if !group.option.blank? %>
          <% group.option.wishes.each do |wish| %>
            <div>
              <%= wish.priority %>
              <%= wish.user.name %>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
</div>
