<div class="page-header no-mt-mb">
  <h1 class="center"><span class="<%=index_icon(account_icon)%>"></span> Distribuição </h1>
</div>

<% if user_admin? %>
  <%= form_tag(search_manage_options_path) do %>

    <%= select_tag(:semester_id, options_for_select(semester_options_diff, selected: @semester_id),
                  {:class => 'form form-control filter-box'}) %>

  <% end %>
<% end %>
<div style="height: 35px;"></div>

<div class="panel panel-default col-md-12 mb-70" style="padding: 0px;">

  <header class="panel-heading header">
    <div class="row">
      <div class="col-md-offset-10 col-md-2 col-md-xs-12"> <%= Semester.find(@semester_id).semester_with_year_show %> </div>
    </div>
  </header>

  <% actived_matters.each do |matter| %>
    <h4 class="h4-options"><%= matter_group(matter) %></h4>
    <div class="row" style="margin: 0px;">
      <% matter.get_groups(@semester_id).each do |group| %>
        <% if group.active == nil || group.active == true %>
          <div class="col-md-6" style="padding: 5px;">
            <%= render "user_selector", group: group %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>



</div>
<script type="text/javascript">
  $('#semester_id').change(function(){
    this.closest('form').submit();
  });
</script>
