<%= form_tag(add_availability_comments_availabilities_path, remote: true) do %>

	<input name="id" type="hidden" value="<%= @availability.id %>" />

	<div class="col-md-10" style="padding: 0px;">
		<div class="form-field">
			<%= label_tag :comments, "Comentáŕios", {class: 'control-label col-md-7'} %>
			<%= text_area_tag :comments, "comente", {class: 'form-control w-400', style: 'display:block;margin:10px auto;height:5rem;', id: "comment"} %>
		</div>

  </div>

  <div class="col-md-2" style="padding: 0 0 0 3px; margin-top: 2px;">

    <%= button_tag(type: "submit", class: "btn btn-success btn-sm", style: "margin-bottom: 10px;") do
      simple_check_button.html_safe
    end %>

  </div>
<% end %>
