
<div class="page-header no-mt-mb">
  <h1 class="center"><span class="<%=index_icon(account_icon)%>"></span> <%= t("availability") %></h1>
  <div style="height: 35px;" ></div>
</div>

<div class="panel panel-default col-md-12" style="margin-bottom: 70px;">
  <header class="panel-heading header">
    <div class="row">
      <div class="col-md-offset-10 col-md-2 col-md-xs-12"> <%= @availability.semester.semester_with_year_show %> </div>
    </div>
  </header>

  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <div class="col-md-12">
        <h3 class="center col-md-offset-1 col-md-10">
          <span class="<%=index_icon(option_icon)%>"></span> <%= t("preferences") %>
        </h3>
      </div>
    </div>

    <div id="preferences-partial">
      <%= render "preferences" %>
    </div>

    <div class="row">
      <div class="col-md-12">

        <h3 class="center col-md-offset-1 col-md-10">
          <span class="<%=index_icon(schedule_icon)%>"></span> <%= t("unavailabilities") %>
        </h3>

        <div style="layout: absolute; float:right; margin-top:35px;">
          <%= link_to new_button.html_safe, open_unavailability_availabilities_path(@availability), remote: true,
              title: 'Adicionar', 'data-toggle' => 'tooltip',
              'data-placement' => 'right', :class => 'btn btn-default btn-sm' %>
        </div>

      </div>
    </div>

    <div id="unavailabilities_partial">
      <%= render 'unavailabilities' %>
    </div>

    <div id="comments-partial" class="justify">
      <%= render 'comments' %>
    </div>

    <div>
      <% if !current_user.options.blank? %>
        <h3 class="center col-md-offset-1 col-md-10">
          <span class="<%=index_icon(option_icon)%>"></span> <%= t("options") %>
        </h3>
        <table class="table table-striped">
          <thead>
            <tr class="header">
              <th class="center" width="25%"><%= t('options') %></th>
              <th class="center" width="30%"><%= t('groups') %></th>
              <th class="center" width="30%"><%= t('schedules') %></th>

            </tr>
          </thead>
          <tbody>

            <% current_user.options.each do |opt| %>

              <tr>
                <div class="form_table">

                  <td class="center"><%= option_classes(opt).html_safe %></td>
                  <td class="center"><%= option_classes_with_course(opt).html_safe %></td>
                  <td class="center"><%= option_schedules(opt).html_safe %></td>
                </div>
              </tr>

            <% end %>

          </tbody>
        </table>

      <% end %>

    </div>

    <div id="general-comments-partial" class="justify">
      <%= render 'general_comments' %>
    </div>

    <div class="col-md-offset-11 col-md-1">
      <%= link_to "Escolher", options_path, class: "btn btn-default bt-lg" %>
    </div>

  </div>

</div>

<div id="unavailability-modal"> </div>
