<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= content_for?(:title) ? yield(:title) : "Ficha2" %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>


  </head>

  <body class="body">

    <div class="navbar navbar-inverse">
      <div class="container">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a id="home_link" class="navbar-brand" href= "/" >Ficha2</a>

        <div class="navbar-collapse collapse navbar-responsive-collapse">

          <ul class="nav navbar-nav" style="aria-hidden='true'" id="menu_list">
            <li><%= link_to t('matters'), matters_path, :id => "matters_link"  %></li>
            <li><%= link_to t('teachers'), teachers_users_path  %></li>
            <li><%= link_to t('fichas'), fichas_path  %></li>

            <% if !user_signed_in? %>
              <li style="position: absolute; right: 10px;" ><%= link_to t('Login'), user_session_path %> </li>
            <% else %>

              <% if current_user.admin? %>
                <li><%= link_to t('users'), users_path %></li>
              <% end %>

              <li style="position: absolute; right: 60px;">
                <%= link_to user_button(current_user.name).html_safe, edit_user_path(current_user), :class => 'user_name_menu' %>
              </li>

              <div style="position: absolute; right: 10px;" class="btn-group" style="">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= config_button.html_safe %>
                </button>

                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="<%= edit_user_path(current_user) %>">Configurações</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a  data-method="delete" href="<%= destroy_user_session_path %>">Logout</a></li>
                </ul>
              </div>

            <% end %>

          </ul>
        </div>

      </div>

    </div>

  </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">

            <%= bootstrap_flash %>


          <% if(user_signed_in?) %>
          <!--   <h4><%=current_user.role%></h4> -->
          <% end %>

          <%= yield %>


        </div>

        <div class="col-lg-3">
          <div class="well sidebar-nav" style="background-color:rgb(235, 233, 233)">
            <h3>Relacionados</h3>
            <ul class="nav nav-list">
              <li class="nav-header">Links</li>
              <li><%= link_to "NC-UFPR", "http://www.nc.ufpr.br/", target: :_blank  %></li>
              <li><%= link_to "PRAE", "http://www.prae.ufpr.br/prae/", target: :_blank  %></li>
              <li><%= link_to "D. MAT", "http://www.mat.ufpr.br/", target: :_blank  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->


    </div> <!-- /container -->

  </body>

  <footer class="footer2">
    &copy; UFPR - Universidade Federal do Paraná 2017
  </footer>

</html>
