<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= content_for?(:title) ? yield(:title) : "Ficha2" %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

  </head>

  <body class="body">

    <div class="navbar navbar-inverse" style="margin-bottom:0;border:0;border-radius:0;">
      <div class="container">

        <a id="home_link" class="navbar-brand" href= "/" >Ficha2</a>

        <div class="navbar-collapse collapse navbar-responsive-collapse">

          <ul class="nav navbar-nav" style="aria-hidden='true'" id="menu_list">

            <% if !user_signed_in? %>
              <li style="position:absolute; float:right;right: 10px;" ><%= link_to t('Login'), user_session_path %> </li>
            <% else %>


              <li style="position:absolute; float:right; right: 60px;">
                <%= link_to user_button(current_user.name).html_safe, edit_user_path(current_user), :class => 'user_name_menu' %>
              </li>

              <div style="position:absolute;right: 10px;" class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= config_button.html_safe %>
                </button>

                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="<%= edit_user_path(current_user) %>">Configurações</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a  data-method="delete" href="<%= destroy_user_session_path %>">Logout</a></li>
                </ul>
              </div>

            <% end %>

          </ul>
        </div>

      </div>

    </div>

    <% classes = getClasses() %>

    <nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="side_bar <%= classes["home"] %>"><a href="/">Inicial<span class="<%=menu_icon(home_icon)%>"></span></a></li>
        <li class="side_bar <%= classes["ficha"] %>"><a href="<%= fichas_path %>"><%= t('fichas') %><span class="<%=menu_icon(ficha_icon)%>"></span></a></li>
        <li class="side_bar <%= classes["matter"] %>"><a href="<%= matters_path %>"><%= t('matters') %><span class="<%=menu_icon(matter_icon)%>"></span></a></li>

        <% if user_admin? or user_secretary? %>

          <li class="side_bar <%= classes["group"]%>" ><a href="<%= groups_path %>"><%= t('groups') %><span class="<%=menu_icon(group_icon)%>"></span></a></li>

          <li class="dropdown side_bar <%= classes["user"]%>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários <span class="caret"></span><span class="<%=menu_icon(user_icon)%>"</span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="<%= new_user_path %>">Novo</a></li>
              <li class="divider"></li>
              <li><a href="<%= users_path %>">Colaboradores</a></li>
              <li><a href="<%= teachers_users_path %>">Professores</a></li>
            </ul>

          </li>


        <% elsif user_signed_in? %>
            <li class="side_bar"><a href="<%= teachers_users_path %>"><%= t('teachers') %><span class="<%=menu_icon(user_icon)%>"></span></a></li>
        <% end %>


        <li class="side_bar <%= classes["help"]%>" ><a href="<%= new_contact_path %>">Contato<span class="<%=menu_icon(help_icon)%>"></span></a></li>

        <% if user_signed_in? %>
          <li class="side_bar" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conta <span class="caret"></span><span class="<%=menu_icon(account_icon)%>"></span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="<%= edit_user_path(current_user) %>">Configurações</a></li>
              <li class="divider"></li>
              <li><a data-method="delete" href="<%= destroy_user_session_path %>">Sair</a></li>
            </ul>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div style="margin-top: 10px">
            <%= bootstrap_flash %>
          </div>

          <%= yield %>
        </div>
    </div> <!-- /container -->
  </div>

  <footer class="footer">
    <div class="pageLinks"><a href="<%= fichas_path %>" class="textNone">Fichas</a> | <a href="<%= groups_path %>" class="textNone">Turmas</a><br> <a href="<%= matters_path %>" class="textNone">Disciplinas</a> | <a href="<%= new_contact_path %>" class="textNone">Contato</a></div>
    <i class="hrVertical"></i>
    <div class="relacted"><a href="" class="textNone">PRAE</a> | <a href="" class="textNone">DPMAT</a><br><a href="" class="textNone">NC-UFPR</a> | <a href="" class="textNone">UFPR</a><br></div>
    <h6 class="fixed-bottom">Universidade Federal do Paraná 2017</h6>
  </footer>

  </body>
</html>
